extends include/template

block settings
    - title = "Homepage"

block content
    // Home Banner Start
    section.home-banner(style='background-image: url(upload/home-banner.jpg);')
        .container
            .row.full-screen.align-items-center
                .col-md-8.col-lg-6
                    .home-content.theme-bg
                        h4.font-alt.m-0px.m-30px-b.sm-m-20px-b Cropar Consulting Your Partner for Success
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        .m-btn-bar.m-40px-t.sm-m-30px-t
                            a.m-btn.m-btn-white#event-click(href='#') Our Services12
    // About Us Start
    section.section
        .container
            .row.align-items-center
                .col-md-6.col-lg-5
                    .std-content
                        h6.theme-color.m-0px.m-10px-b About Us
                        h2.font-alt.m-25px-b.dark-color Why you should choose us?
                        p
                            | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                        .m-btn-bar.p-20px-t
                            a.m-btn.m-btn-theme(href='#') About us
                .col-md-6.col-lg-7.p-80px-l.md-p-15px-l
                    .radius-img.sm-m-30px-t
                        img(src='upload/about.jpg', title='', alt='')
    // Services Start
    section.section.gray-bg
        .container
            .row.justify-content-center.m-45px-b.sm-m-25px-b
                .col-md-8.col-lg-6
                    .section-title.text-center
                        h2.font-alt
                            | Our 
                            span Services
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna..
                // col
                // row
                .row
                    .col-12.col-sm-12.col-md-6.m-15px-tb.col-lg-3
                        .feature-box.box-shadow.theme-hover
                            .icon.theme-bg
                                i.ti-bar-chart
                            h6.font-alt tax planning
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                | tempor
                    // col
                    .col-12.col-sm-12.col-md-6.m-15px-tb.col-lg-3
                        .feature-box.box-shadow.theme-bg.active
                            .icon.theme-bg
                                i.ti-ruler-pencil
                            h6.font-alt legal advisory
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                | tempor
                    // col
                    .col-12.col-sm-12.col-md-6.m-15px-tb.col-lg-3
                        .feature-box.box-shadow.theme-hover
                            .icon.theme-bg
                                i.ti-money
                            h6.font-alt financial services
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                | tempor
                    // col
                    .col-12.col-sm-12.col-md-6.m-15px-tb.col-lg-3
                        .feature-box.box-shadow.theme-hover
                            .icon.theme-bg
                                i.ti-notepad
                            h6.font-alt audit & Assurance
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                | tempor
    // About Start
    section.section.bg-cover.bg-fixed.bg-no-repeat(style='background-image: url(upload/about-1.jpg);')
        .container
            .row.justify-content-center
                .col-12.col-md-7.col-lg-5
                    .intro-content.text-center
                        h2.font-alt.dark-color.m-0px.m-25px-b
                            | Do great work
                            br
                            |  with great people
                        p.m-0px
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            | tempor incididunt ut labore et dolore magna aliqua.
                        .m-btn-bar.m-35px-t
                            a.m-btn.m-btn-theme(href='#') Our Company
    // Our Team Start
    section.section.white-bg
        .container
            .row.justify-content-center.m-45px-b.sm-m-25px-b
                .col-md-8.col-lg-6
                    .section-title.text-center
                        h2.font-alt
                            | Our 
                            span Team
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna..
                // col
            .row.justify-content-center
                .col-12.col-md-6.m-15px-tb.col-lg-3
                    .team-box
                        .team-img
                            img(src='upload/team-1.jpg', title='', alt='')
                        .team-info.theme-bg
                            h6 John H. Anderson
                            span CEO & Founder
                // overly
                // col
                .col-12.col-md-6.m-15px-tb.col-lg-3
                    .team-box
                        .team-img
                            img(src='upload/team-2.jpg', title='', alt='')
                        .team-info.theme-bg
                            h6 John H. Anderson
                            span CEO & Founder
                // overly
                // col
                .col-12.col-md-6.m-15px-tb.col-lg-3
                    .team-box
                        .team-img
                            img(src='upload/team-3.jpg', title='', alt='')
                        .team-info.theme-bg
                            h6 John H. Anderson
                            span CEO & Founder
                // overly
                // col
                .col-12.col-md-6.m-15px-tb.col-lg-3
                    .team-box
                        .team-img
                            img(src='upload/team-4.jpg', title='', alt='')
                        .team-info.theme-bg
                            h6 John H. Anderson
                            span CEO & Founder
    // Testimonial
    section.section.gray-bg.testimonial-section
        .container
            .row.justify-content-center.m-60px-b.sm-m-40px-b
                .col-md-8.col-lg-6
                    .section-title.text-center
                        h2.font-alt
                            | Our 
                            span Testimonial
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna..
                // col
            .row.justify-content-center
                .col-12
                    #client-slider-single.owl-carousel
                        .testimonial-col
                            .img
                                img(src='upload/avtar1.jpg', alt='', title='')
                            p
                                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            h6 Jennifer Lutheran
                            label CEO & Founder
                        // col
                        .testimonial-col
                            .img
                                img(src='upload/avtar1.jpg', alt='', title='')
                            p
                                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            h6 Jennifer Lutheran
                            label CEO & Founder
                        // col
                        .testimonial-col
                            .img
                                img(src='upload/avtar1.jpg', alt='', title='')
                            p
                                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            h6 Jennifer Lutheran
                            label CEO & Founder
    // Our Client Start
    section.section
        .container
            .row.justify-content-center.m-40px-b.sm-m-20px-b
                .col-md-8.col-lg-6
                    .section-title.text-center
                        h2.font-alt
                            | Our 
                            span Clients
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna..
                // col
            .row.justify-content-center.text-center
                .col-6.col-md-3.col-lg-3
                    .client-logo
                        a(href='#')
                            img(src='upload/logo-1.png', title='', alt='')
                // col
                .col-6.col-md-3.col-lg-3
                    .client-logo
                        a(href='#')
                            img(src='upload/logo-2.png', title='', alt='')
                // col
                .col-6.col-md-3.col-lg-3
                    .client-logo
                        a(href='#')
                            img(src='upload/logo-3.png', title='', alt='')
                // col
                .col-6.col-md-3.col-lg-3
                    .client-logo
                        a(href='#')
                            img(src='upload/logo-4.png', title='', alt='')
                // col
                .col-6.col-md-3.col-lg-3
                    .client-logo
                        a(href='#')
                            img(src='upload/logo-5.png', title='', alt='')
                // col
                .col-6.col-md-3.col-lg-3
                    .client-logo
                        a(href='#')
                            img(src='upload/logo-6.png', title='', alt='')
                // col
                .col-6.col-md-3.col-lg-3
                    .client-logo
                        a(href='#')
                            img(src='upload/logo-7.png', title='', alt='')
                // col
                .col-6.col-md-3.col-lg-3
                    .client-logo
                        a(href='#')
                            img(src='upload/logo-8.png', title='', alt='')
    // Contact Start
    section.bg-no-repeat.bg-cover.bg-fixed(style='background-image: url(upload/call-to-action.jpg);')
        .row.no-gutters.justify-content-end
            .col-12.col-md-12.col-lg-6
                .call-to-action.theme-bg
                    h4
                        | Get a personal
                        br
                        |  consultation
                    p
                        | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.
                    .m-btn-bar
                        a.m-btn.m-btn-white(href='#') Send a Request
                        a.contact-num(href='#') +44 555 8585 85




