footer.footer {
    .newsletter-form {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .gfield_label,
        .validation_error {
            display: none;
        }
        .validation_message {
            color: red;
        }
        input:not([type="submit"]) {
            @include reset-input;
            @include reset-autofill(#FFF);
            color: #FFF;
            background-color: transparent;
        }
        input[type="submit"] {
            @include reset-input;
            text-decoration: none;
            display: inline-block;
            margin-bottom: 0;
            padding: 12px 25px;
            letter-spacing: 1px;
            background: transparent;
            border-radius: 3px;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            box-shadow: 0px 3px 31px 3px rgba(0, 0, 0, 0.11);
            transition: all 0.32s ease-in-out;
            background: #1c337d;
            color: #FFF;
            cursor: pointer;
        }
    }
}