header.header-page {
    .logo {
        float: left;
    }
    .menu-top {
        list-style: none;
        a {
            color: $pink;
            text-decoration: none;
            &:hover {
                color: $gray;
            }
        }
    }
}