.for-dev {
    position: fixed;
    z-index: 99999;
    background: #eee;
    top: 150px;
    right: 0;
    padding: 20px;
    transform: translate3d(100%, 0, 0);
    transition: 0.4s ease;
    .btn-settings {
        position: absolute;
        width: 60px;
        height: 60px;
        background: #000;
        left: -60px;
        top: 0;
        background: #000 url("../img/ven.png") no-repeat center / 60px auto;
        cursor: pointer;
        box-shadow: 1px 2px 10px rgba(#555, 0.2);
    }
    .nav {
        flex-flow: column wrap;
        font-size: 18px;
        margin-top: 20px;
        max-height: 300px;
        overflow: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

input#showfordev:checked+.for-dev {
    transform: translate3d(0, 0, 0);
}