/*========================================================================
Template Name   : Morgan
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Copyright (c) 2018 - Morgan
========================================================================*/
/*----------------------------------
Table of contents
01. Common
02. Section Tital
03. Button
04. Header
05. Home Banner
06. About us
07. Feature Box 
08. Portfolio
09. Counter
10. Testimonial
11. Skill
12. Blog
13. contact
14. Footer
----------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
/*---------------------------------
  01. Common
-----------------------------------*/
body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 14px;
    line-height: 1.8;
    color: #6C6D74;
    background-size: cover;
    background-attachment: fixed;
    &.admin-bar {
        header.header {
            @include mobile-up {
                top: 32px;
                &.fixed-header {
                    top: -42 + 32px;
                }
            }
        }
    }
}
img {
    max-width: 100%;
}
.font-alt {
    font-family: 'Poppins', sans-serif;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.4;
}
.gray-bg {
    background: #f7fafc;
}
.white-bg {
    background: #fff;
}
.container {
    @include max-desktop {
        max-width: 1300px;
    }
}
.dark-color {
    color: #111;
}
a {
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}
.box-shadow {
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
}
/*---------------------------------
* 01. Loading
-----------------------------------*/
#loading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: 999999;
}
.load-circle {
    &:after,
    &:before {
        content: '';
        background: #fff;
        height: 50%;
        width: 100%;
        position: absolute;
        left: 0;
        transition: all 1s;
    }
    &:after {
        top: 0;
    }
    &:before {
        bottom: 0;
    }
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px solid #e8e8e8;
    border-top: 10px solid #000;
    -webkit-animation: rotate 1.2s infinite linear;
    animation: rotate 1.2s infinite linear;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
@-webkit-keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*---------------------------------
* 02. Section 
-----------------------------------*/
.section {
    padding: 100px 0;
}
@media (max-width: 991px) {
    .section {
        padding: 60px 0;
    }
}
@media (max-width: 767px) {
    .section {
        padding: 40px 0;
    }
}
/*---------------------------------
* 03. Section title
-----------------------------------*/
.section-title {
    h2 {
        font-size: 40px;
        font-weight: 600;
        margin: 0 0 20px;
        span {
            color: #111;
        }
    }
    p {
        font-size: 16px;
        margin: 0;
    }
}
.section-title-01 h2 {
    font-size: 22px;
    font-weight: 500;
}
@media (max-width: 991px) {
    .section-title h2 {
        font-size: 35px;
        margin: 0 0 15px;
    }
}
@media (max-width: 767px) {
    .section-title {
        h2 {
            font-size: 28px;
            margin: 0 0 15px;
        }
        p {
            font-size: 15px;
        }
    }
}
/*-----------------------------------------
* 04. Buttons
-----------------------------------------*/
.m-btn {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0;
    padding: 12px 25px;
    letter-spacing: 1px;
    background: transparent;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 0px 3px 31px 3px rgba(0, 0, 0, 0.11);
    transition: all 0.32s ease-in-out;
}
.m-btn-white {
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 1);
    &:hover {
        color: #fff;
        text-decoration: none;
        border: 2px solid rgba(255, 255, 255, 0.3);
    }
}
.m-btn-black {
    color: #2D2E33;
    border: 2px solid rgba(45, 46, 51, 1);
    &:hover {
        color: #6C6D74;
        text-decoration: none;
        border: 2px solid rgba(108, 109, 116, 0.3);
    }
}
.m-btn-theme {
    color: #fff;
    border: 2px solid;
    &:hover {
        background: #fff;
    }
}
@media (max-width: 769px) {
    .m-btn {
        padding: 10px 10px;
    }
}
/*---------------------------------
* 05. Header
-----------------------------------*/
.header {
    .top-bar {
        .mail {
            color: rgba(255, 255, 255, 0.8);
            font-size: 13px;
            line-height: 40px;
        }
        .social-icons-light a {
            display: inline-block;
            vertical-align: middle;
            color: rgba(255, 255, 255, 0.8);
            margin: 0 13px;
            font-size: 14px;
            line-height: 40px;
        }
    }
    top: 0;
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9;
    box-shadow: 0px 1px 27px -3px rgba(0,
        0,
        0,
        0);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.header-nav {
    padding-top: 0;
    padding-bottom: 0;
    .navbar-toggler span {
        background: #2D2E33;
    }
    .navbar-brand {
        color: #000;
        font-weight: 600;
        position: relative;
        font-size: 22px;
        text-transform: uppercase;
        span {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            position: absolute;
            bottom: 15px;
            right: -9px;
            float: left;
        }
    }
    .navbar-nav {
        >li {
            margin: 0 0 0 25px;
        }
        .nav-link {
            &:not(.nav-link-btn) {
                position: relative;
                padding: 25px 0;
                display: inline-block;
                font-size: 14px;
                vertical-align: top;
                color: #2D2E33;
                font-weight: 600;
                &:after {
                    content: "";
                    width: 100%;
                    position: absolute;
                    bottom: 0px;
                    left: 0;
                    height: 5px;
                }
            }
            &.nav-link-btn {
                padding: 10px 25px;
                &:not(:hover) {
                    color: #fff;
                }
            }
        }
    }
}
/*Navbar Toogle*/
.navbar-toggler {
    border: none;
    padding: 10px 6px;
    outline: none !important;
    span {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background: #fff;
        +span {
            margin-top: 4px;
            width: 18px;
            +span {
                width: 10px;
            }
        }
    }
}
/**/
.header.fixed-header {
    box-shadow: 0px 1px 27px -3px rgba(0, 0, 0, 0.07);
    top: -42px;
}
@media (max-width: 991px) {
    .header {
        .top-bar {
            display: none;
        }
        &.fixed-header {
            top: 0;
        }
    }
    .header-nav {
        padding-top: 10px;
        padding-bottom: 10px;
        .navbar-nav {
            >li {
                margin: 0;
            }
            .nav-link {
                &:not(.nav-link-btn) {
                    padding: 8px 0;
                }
                &.nav-link-btn:not(:hover) {
                    margin-top: 10px;
                }
                &:not(.nav-link-btn):after {
                    height: 2px;
                    bottom: 8px;
                }
            }
        }
    }
}
/*---------------------------------
* 06. Home Banner
-----------------------------------*/
.full-screen {
    min-height: 100vh;
}
.home-banner {
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.home-content {
    margin: 180px 0 50px 0;
    padding: 10%;
    h4 {
        font-weight: 600;
        color: #fff;
        font-size: 40px;
    }
    p {
        color: #fff;
        opacity: 0.7;
        font-size: 16px;
        margin: 0;
    }
}
@media (max-width: 991px) {
    .home-content {
        margin: 90px 0 50px 0;
    }
}
@media (max-width: 767px) {
    .home-content {
        padding: 20px;
        h4 {
            font-size: 20px;
        }
        p {
            font-size: 14px;
        }
    }
}
/*---------------------------------
* 07. Feature Box
-----------------------------------*/
.feature-box {
    padding: 50px 25px;
    text-align: center;
    position: relative;
    background: #fff;
    border-radius: 5px;
    -webkit-transition: all 0.32s;
    -o-transition: all 0.32s;
    -moz-transition: all 0.32s;
    transition: all 0.32s;
    .icon {
        font-size: 40px;
        width: 90px;
        height: 90px;
        margin-bottom: 25px;
        display: inline-block;
        vertical-align: top;
        border-radius: 50%;
        line-height: 90px;
        color: #fff;
    }
    h6 {
        font-size: 18px;
        color: #2D2E33;
        text-transform: capitalize;
        font-weight: 500;
        margin: 0 0 10px;
    }
    p {
        margin: 0;
    }
    &.active .icon {
        background: #fff;
    }
    &:hover {
        .icon {
            background: #fff;
        }
        h6 {
            color: #fff;
        }
    }
    &.active h6 {
        color: #fff;
    }
    &:hover p,
    &.active p {
        color: rgba(255, 255, 255, 0.5);
    }
}
/*---------------------------------
* 08. About us
-----------------------------------*/
.intro-content {
    background: rgba(255, 255, 255, 0.86);
    padding: 10%;
    h2 {
        font-size: 30px;
    }
    p {
        font-size: 16px;
    }
}
.about-section {
    .about-img {
        border-radius: 5px;
        overflow: hidden;
    }
    .about-std {
        padding: 10%;
        border-radius: 5px;
        position: relative;
        z-index: 1;
        background: #fff;
        p:last-child {
            margin-bottom: 0;
        }
        &.left {
            right: -90px;
        }
    }
    .row {
        margin-bottom: 30px;
        @include tablet-up {
            margin-bottom: 0;
            &:not(:last-child) {
                margin-bottom: 100px;
            }
            &:nth-child(even) {
                [class*="col-"] {
                    &:nth-child(1) {
                        order: 2;
                    }
                }
                .about-std {
                    &.left {
                        left: -90px;
                    }
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .about-section .about-std.left {
        right: 0px;
    }
}
@media (max-width: 767px) {
    .intro-content {
        h2 {
            font-size: 25px;
        }
        p {
            font-size: 15px;
        }
    }
}
/*-----------------------------------------
*  14. counter section
-----------------------------------------*/
.counter-section {
    position: relative;
}
.counter-row {
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    z-index: 1;
}
.counter-section:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    opacity: 0.7;
    background: #000;
    opacity: 0.7;
}
.counter-col {
    text-align: left;
    border-radius: 5px;
    .count {
        color: #fff;
        font-size: 55px;
        line-height: 1.3;
        font-weight: 600;
        padding-right: 16px;
        position: relative;
        min-width: 105px;
        display: inline-block;
        vertical-align: middle;
        &:after {
            content: '';
            width: 2px;
            height: 90px;
            background: rgba(255, 255, 255, 0.18);
            position: absolute;
            top: 0;
            right: 9px;
            transform: rotate(20deg);
            bottom: 0;
            margin: auto;
        }
    }
    h6 {
        color: #fff;
        font-size: 16px;
        padding: 10px 0;
        padding-left: 15px;
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 0;
        display: inline-block;
        vertical-align: middle;
    }
}
@media (max-width: 767px) {
    .counter-col {
        .count {
            min-width: 65px;
            font-size: 30px;
            &:after {
                height: 50px;
            }
        }
        h6 {
            font-size: 12px;
            padding: 10px 0;
            padding-left: 10px;
        }
    }
}
/*---------------------------------
* 09. Our Team
-----------------------------------*/
.team-box {
    position: relative;
    overflow: hidden;
    .team-img {
        position: relative;
        img {
            transition: ease all 0.3s;
            -webkit-transition: ease all 0.3s;
            transform: scale(1) rotate(0deg);
            -webkit-transform: scale(1) rotate(0deg);
        }
    }
    &:hover .team-img img {
        transform: scale(1.1) rotate(1deg);
        -webkit-transform: scale(1.1) rotate(1deg);
    }
    .team-img:after {
        content: "";
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.1);
        pointer-events: none;
        transition: ease all 0.3s;
        -webkit-transition: ease all 0.3s;
    }
    &:hover .team-img:after {
        background: rgba(255, 255, 255, 0.2);
    }
    .team-info {
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 10px;
        color: #fff;
        padding: 20px;
        opacity: 0;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    &:hover .team-info {
        opacity: 1;
    }
    .team-info {
        h6 {
            font-size: 16px;
            font-weight: 400;
            margin: 0 0 5px;
        }
        span {
            font-size: 13px;
            margin: 0;
            opacity: 0.7;
        }
    }
}
/*---------------------------------
* 10. Why Choose us
-----------------------------------*/
.radius-img {
    border-radius: 5px;
    overflow: hidden;
}
.std-content {
    h6 {
        font-weight: 600;
    }
    h2 {
        font-weight: 600;
        font-size: 30px;
    }
}
/*-----------------------------------------
*  Testimonial
-----------------------------------------*/
.testimonial-col {
    position: relative;
    text-align: center;
    background: #fff;
    padding: 20px;
    border: 1px solid #eee;
    .img {
        display: inline-block;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 20px;
    }
    h6 {
        color: #111111;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 10px;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    p {
        margin: 0;
    }
}
.owl-dots {
    text-align: center;
    margin-top: 15px;
    .owl-dot {
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px;
        span {
            width: 12px;
            height: 12px;
            border: 2px solid #323232;
            border-radius: 50%;
            display: inline-block;
            vertical-align: text-top;
        }
        &.active span {
            background: #323232;
        }
    }
}
/*---------------------------------
* 11. Contact US
-----------------------------------*/
.call-to-action {
    padding: 20% 15%;
    h4 {
        font-size: 40px;
        color: #fff;
        font-weight: 600;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    p {
        letter-spacing: 1px;
        font-size: 15px;
        color: #fff;
        opacity: 0.7;
        margin-bottom: 35px;
        display: inline-block;
    }
    .contact-num {
        color: #fff;
        text-decoration: none;
        padding-left: 20px;
        font-size: 15px;
    }
}
@media (max-width: 991px) {
    .call-to-action {
        margin: 10%;
        padding: 8%;
        h4 {
            font-size: 35px;
        }
    }
}
@media (max-width: 991px) {
    .call-to-action {
        margin: 8%;
        padding: 35px;
        h4 {
            font-size: 24px;
        }
        .contact-num {
            display: inline-block;
            margin-top: 15px;
            padding: 0;
            text-align: left;
            width: 100%;
            vertical-align: top;
        }
    }
}
/*---------------------------------
* 12. Client
-----------------------------------*/
.client-logo {
    margin: 30px 0;
    opacity: 0.5;
    transition: ease all 0.3s;
    -webkit-transition: ease all 0.3s;
    &:hover {
        opacity: 1;
    }
}
/*---------------------------------
* 13. Footer Section
-----------------------------------*/
.social-icons {
    margin: 0;
    padding: 0;
    li {
        display: inline-block;
        vertical-align: top;
        list-style: none;
        margin-right: 8px;
        a {
            display: block;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            color: #333;
            border-radius: 5px;
            background: #000;
            -webkit-transition: ease all 0.3s;
            transition: ease all 0.3s;
            &:hover {
                background: #333;
                color: #fff;
            }
        }
    }
}
.footer {
    background: #111;
}
.footer-section {
    padding-top: 60px;
    .footer-logo {
        color: #fff;
        font-weight: 700;
        font-size: 25px;
        margin-bottom: 20px;
    }
    .footer-text p {
        width: 350px;
        max-width: 100%;
        margin-bottom: 20px;
        display: inline-block;
        padding-right: 10px;
        color: rgba(255, 255, 255, 0.5);
    }
    .footer-title {
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 25px;
        color: #fff;
    }
}
.footer-content {
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        margin-bottom: 8px;
        a {
            color: rgba(255, 255, 255, 0.5);
            font-size: 14px;
        }
    }
}
.footer-section p {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}
.footer-newsletter {
    .m-btn:hover {
        background: #111;
        color: #fff;
    }
    .form-control {
        background: rgba(0, 0, 0, 0.3);
        border: 1px solid rgba(255, 255, 255, 0.19);
        color: rgba(255, 255, 255, 0.5);
        padding: 10px 15px;
        border-radius: 0;
        box-shadow: none !important;
        height: 50px;
    }
}
.fot-copyright {
    margin-top: 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    p {
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
        font-size: 12px;
        margin: 0;
        padding: 20px 0;
    }
}
@media (max-width: 991px) {
    .footer-section {
        padding-top: 30px;
    }
    .fot-copyright {
        margin-top: 10px;
    }
}
/*---------------------------------
* 1. Service Banner
-----------------------------------*/
.page-title {
    &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "";
        opacity: 0.6;
        z-index: -1;
        background: #000;
    }
    padding: 230px 0 100px 0;
    position: relative;
    z-index: 1;
    h3 {
        color: #fff;
        font-size: 40px;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 20px;
        font-weight: 700;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        background: none;
        text-align: center;
    }
    li {
        display: inline-block;
        color: rgba(255, 255, 255, 0.7);
        font-size: 14px;
        margin: 0 15px;
        position: relative;
        a {
            color: rgba(255, 255, 255, 0.7);
        }
        &:not(:first-child):after {
            width: 5px;
            height: 5px;
            background: #fff;
            left: -15px;
            content: "";
            float: left;
            position: absolute;
            top: 9px;
            border-radius: 50%;
        }
    }
}
@media (max-width: 991px) {
    .page-title {
        padding: 130px 0 60px 0;
    }
}
/*---------------------------------
* 3. Card
-----------------------------------*/
.card-box {
    padding: 30px;
    border: none;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
    .card-title {
        color: #2D2E33;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li:not(:first-child) {
        margin-top: 10px;
        padding-top: 15px;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
    a {
        text-decoration: none;
        color: #6C6D74;
        font-size: 15px;
        margin-left: 0;
        -webkit-transition: all 0.32s ease-in-out;
        transition: all 0.32s ease-in-out;
        &:hover {
            color: #2D2E33;
            margin-left: 5px;
        }
    }
}
/*---------------------------------
* 3. Card
-----------------------------------*/
.frequent-left .nav-link {
    &:not(:first-child) {
        border-top: 1px dashed #ddd;
    }
    position: relative;
    background: transparent;
    color: #2D2E33;
    font-size: 15px;
    font-weight: 400;
    padding: 18px 20px;
    border-radius: 0;
    &.active {
        color: #323232;
        color: #fff;
    }
}
.frequent-right {
    padding: 40px;
    min-height: 100%;
    h4 {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    p {
        display: inline-block;
        font-size: 15px;
        line-height: 28px;
    }
}
@media (max-width: 467px) {
    .frequent-left {
        .nav-link {
            &.active:before {
                content: ' ';
                position: absolute;
                top: 50px;
                right: 0;
                left: 0;
                width: 80%;
                height: 3px;
                background: #000;
            }
            margin-bottom: 20px;
            padding: 0;
        }
        width: 100%;
        padding: 0;
    }
    .frequent-right {
        padding: 0;
        margin-top: 30px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .frequent-left .nav-link {
        &.active:before {
            content: ' ';
            position: absolute;
            top: 35px;
            right: 0;
            left: 15px;
            width: 70%;
            height: 3px;
            background: #000;
        }
        margin-bottom: 15px;
        font-size: 16px;
    }
    .frequent-right {
        margin-top: 30px;
    }
}
/*===========================================
* About Page Start
=============================================*/
.about-info {
    h5 {
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 500;
    }
    p {
        margin-bottom: 20px;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.5);
    }
    a {
        text-decoration: none;
        color: #2D2E33;
        font-weight: 600;
        letter-spacing: 1px;
    }
}
/*===========================================
* Contact Page Start
=============================================*/
.contact-info {
    padding: 15% 10%;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    i {
        font-size: 35px;
        margin-bottom: 30px;
        display: inline-block;
    }
    h6 {
        font-size: 16px;
        font-weight: 600;
        color: #2D2E33;
        margin-bottom: 15px;
    }
    p {
        margin: 0;
    }
}
/*---------------------------------
* 1. contact us
-----------------------------------*/
.contact-form {
    padding: 8%;
    margin: 0 5%;
    position: relative;
    background: #fff;
    h2 {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
        color: #2D2E33;
        display: inline-block;
    }
    .form-group {
        margin-bottom: 20px;
    }
    .form-control {
        font-size: 14px;
        height: 45px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        color: #2D2E33;
    }
    textarea.form-control {
        height: 100px;
    }
}
.contact-map {
    height: 100%;
    padding: 10px;
}
/*-----------------------------------------
*  Background Properties
-----------------------------------------*/
.bg-no-repeat {
    background-repeat: no-repeat;
}
.bg-repeat-x {
    background-repeat: repeat-x;
}
.bg-repeat-y {
    background-repeat: repeat-y;
}
.bg-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg-center-center {
    background-position: center center;
}
.bg-center-right {
    background-position: center right;
}
.bg-center-left {
    background-position: center left;
}
.bg-fixed {
    background-attachment: fixed;
}
/*==============================
  Margins
================================*/
/*Margin All*/
.m-auto-all {
    margin: auto;
}
.m-0px {
    margin: 0;
}
.m-5px {
    margin: 5px;
}
.m-10px {
    margin: 10px;
}
.m-15px {
    margin: 15px;
}
.m-20px {
    margin: 20px;
}
.m-25px {
    margin: 25px;
}
.m-30px {
    margin: 30px;
}
.m-35px {
    margin: 35px;
}
.m-40px {
    margin: 40px;
}
.m-45px {
    margin: 45px;
}
.m-50px {
    margin: 50px;
}
.m-55px {
    margin: 55px;
}
.m-60px {
    margin: 60px;
}
.m-65px {
    margin: 65px;
}
.m-70px {
    margin: 70px;
}
.m-75px {
    margin: 75px;
}
.m-80px {
    margin: 80px;
}
.m-85px {
    margin: 85px;
}
.m-90px {
    margin: 90px;
}
.m-95px {
    margin: 95px;
}
.m-100px {
    margin: 100px;
}
/*Margin top buttom*/
.m-0px-tb {
    margin-top: 0px;
    margin-bottom: 0px;
}
.m-5px-tb {
    margin-top: 5px;
    margin-bottom: 5px;
}
.m-10px-tb {
    margin-top: 10px;
    margin-bottom: 10px;
}
.m-15px-tb {
    margin-top: 15px;
    margin-bottom: 15px;
}
.m-20px-tb {
    margin-top: 20px;
    margin-bottom: 20px;
}
.m-25px-tb {
    margin-top: 25px;
    margin-bottom: 25px;
}
.m-30px-tb {
    margin-top: 30px;
    margin-bottom: 30px;
}
.m-35px-tb {
    margin-top: 35px;
    margin-bottom: 35px;
}
.m-40px-tb {
    margin-top: 40px;
    margin-bottom: 40px;
}
.m-45px-tb {
    margin-top: 45px;
    margin-bottom: 45px;
}
.m-50px-tb {
    margin-top: 50px;
    margin-bottom: 50px;
}
.m-55px-tb {
    margin-top: 55px;
    margin-bottom: 55px;
}
.m-60px-tb {
    margin-top: 60px;
    margin-bottom: 60px;
}
.m-65px-tb {
    margin-top: 65px;
    margin-bottom: 65px;
}
.m-70px-tb {
    margin-top: 70px;
    margin-bottom: 70px;
}
.m-75px-tb {
    margin-top: 75px;
    margin-bottom: 75px;
}
.m-80px-tb {
    margin-top: 80px;
    margin-bottom: 80px;
}
.m-85px-tb {
    margin-top: 85px;
    margin-bottom: 85px;
}
.m-90px-tb {
    margin-top: 90px;
    margin-bottom: 90px;
}
.m-95px-tb {
    margin-top: 95px;
    margin-bottom: 95px;
}
.m-100px-tb {
    margin-top: 100px;
    margin-bottom: 100px;
}
/*Margin left right*/
.m-0px-lr {
    margin-left: 0px;
    margin-right: 0px;
}
.m-5px-lr {
    margin-left: 5px;
    margin-right: 5px;
}
.m-10px-lr {
    margin-left: 10px;
    margin-right: 10px;
}
.m-15px-lr {
    margin-left: 15px;
    margin-right: 15px;
}
.m-20px-lr {
    margin-left: 20px;
    margin-right: 20px;
}
.m-25px-lr {
    margin-left: 25px;
    margin-right: 25px;
}
.m-30px-lr {
    margin-left: 30px;
    margin-right: 30px;
}
.m-35px-lr {
    margin-left: 35px;
    margin-right: 35px;
}
.m-40px-lr {
    margin-left: 40px;
    margin-right: 40px;
}
.m-45px-lr {
    margin-left: 45px;
    margin-right: 45px;
}
.m-50px-lr {
    margin-left: 50px;
    margin-right: 50px;
}
.m-55px-lr {
    margin-left: 55px;
    margin-right: 55px;
}
.m-60px-lr {
    margin-left: 60px;
    margin-right: 60px;
}
.m-65px-lr {
    margin-left: 65px;
    margin-right: 65px;
}
.m-70px-lr {
    margin-left: 70px;
    margin-right: 70px;
}
.m-75px-lr {
    margin-left: 75px;
    margin-right: 75px;
}
.m-80px-lr {
    margin-left: 80px;
    margin-right: 80px;
}
.m-85px-lr {
    margin-left: 85px;
    margin-right: 85px;
}
.m-90px-lr {
    margin-left: 90px;
    margin-right: 90px;
}
.m-95px-lr {
    margin-left: 95px;
    margin-right: 95px;
}
.m-100px-lr {
    margin-left: 100px;
    margin-right: 100px;
}
/*Margin top*/
.m-0px-t {
    margin-top: 0px;
}
.m-5px-t {
    margin-top: 5px;
}
.m-10px-t {
    margin-top: 10px;
}
.m-15px-t {
    margin-top: 15px;
}
.m-20px-t {
    margin-top: 20px;
}
.m-25px-t {
    margin-top: 25px;
}
.m-30px-t {
    margin-top: 30px;
}
.m-35px-t {
    margin-top: 35px;
}
.m-40px-t {
    margin-top: 40px;
}
.m-45px-t {
    margin-top: 45px;
}
.m-50px-t {
    margin-top: 50px;
}
.m-55px-t {
    margin-top: 55px;
}
.m-60px-t {
    margin-top: 60px;
}
.m-65px-t {
    margin-top: 65px;
}
.m-70px-t {
    margin-top: 70px;
}
.m-75px-t {
    margin-top: 75px;
}
.m-80px-t {
    margin-top: 80px;
}
.m-85px-t {
    margin-top: 85px;
}
.m-90px-t {
    margin-top: 90px;
}
.m-95px-t {
    margin-top: 95px;
}
.m-100px-t {
    margin-top: 100px;
}
/*Margin Bottom*/
.m-0px-b {
    margin-bottom: 0px;
}
.m-5px-b {
    margin-bottom: 5px;
}
.m-10px-b {
    margin-bottom: 10px;
}
.m-15px-b {
    margin-bottom: 15px;
}
.m-20px-b {
    margin-bottom: 20px;
}
.m-25px-b {
    margin-bottom: 25px;
}
.m-30px-b {
    margin-bottom: 30px;
}
.m-35px-b {
    margin-bottom: 35px;
}
.m-40px-b {
    margin-bottom: 40px;
}
.m-45px-b {
    margin-bottom: 45px;
}
.m-50px-b {
    margin-bottom: 50px;
}
.m-55px-b {
    margin-bottom: 55px;
}
.m-60px-b {
    margin-bottom: 60px;
}
.m-65px-b {
    margin-bottom: 65px;
}
.m-70px-b {
    margin-bottom: 70px;
}
.m-75px-b {
    margin-bottom: 75px;
}
.m-80px-b {
    margin-bottom: 80px;
}
.m-85px-b {
    margin-bottom: 85px;
}
.m-90px-b {
    margin-bottom: 90px;
}
.m-95px-b {
    margin-bottom: 95px;
}
.m-100px-b {
    margin-bottom: 100px;
}
/*Margin Left*/
.m-0px-l {
    margin-left: 0px;
}
.m-5px-l {
    margin-left: 5px;
}
.m-10px-l {
    margin-left: 10px;
}
.m-15px-l {
    margin-left: 15px;
}
.m-20px-l {
    margin-left: 20px;
}
.m-25px-l {
    margin-left: 25px;
}
.m-30px-l {
    margin-left: 30px;
}
.m-35px-l {
    margin-left: 35px;
}
.m-40px-l {
    margin-left: 40px;
}
.m-45px-l {
    margin-left: 45px;
}
.m-50px-l {
    margin-left: 50px;
}
.m-55px-l {
    margin-left: 55px;
}
.m-60px-l {
    margin-left: 60px;
}
.m-65px-l {
    margin-left: 65px;
}
.m-70px-l {
    margin-left: 70px;
}
.m-75px-l {
    margin-left: 75px;
}
.m-80px-l {
    margin-left: 80px;
}
.m-85px-l {
    margin-left: 85px;
}
.m-90px-l {
    margin-left: 90px;
}
.m-95px-l {
    margin-left: 95px;
}
.m-100px-l {
    margin-left: 100px;
}
/*Margin right*/
.m-0px-r {
    margin-right: 0px;
}
.m-5px-r {
    margin-right: 5px;
}
.m-10px-r {
    margin-right: 10px;
}
.m-15px-r {
    margin-right: 15px;
}
.m-20px-r {
    margin-right: 20px;
}
.m-25px-r {
    margin-right: 25px;
}
.m-30px-r {
    margin-right: 30px;
}
.m-35px-r {
    margin-right: 35px;
}
.m-40px-r {
    margin-right: 40px;
}
.m-45px-r {
    margin-right: 45px;
}
.m-50px-r {
    margin-right: 50px;
}
.m-55px-r {
    margin-right: 55px;
}
.m-60px-r {
    margin-right: 60px;
}
.m-65px-r {
    margin-right: 65px;
}
.m-70px-r {
    margin-right: 70px;
}
.m-75px-r {
    margin-right: 75px;
}
.m-80px-r {
    margin-right: 80px;
}
.m-85px-r {
    margin-right: 85px;
}
.m-90px-r {
    margin-right: 90px;
}
.m-95px-r {
    margin-right: 95px;
}
.m-100px-r {
    margin-right: 100px;
}
@media (max-width: 1200px) {
    /*Margin All*/
    .lg-m-0px {
        margin: 0;
    }
    .lg-m-5px {
        margin: 5px;
    }
    .lg-m-10px {
        margin: 10px;
    }
    .lg-m-15px {
        margin: 15px;
    }
    .lg-m-20px {
        margin: 20px;
    }
    .lg-m-25px {
        margin: 25px;
    }
    .lg-m-30px {
        margin: 30px;
    }
    .lg-m-35px {
        margin: 35px;
    }
    .lg-m-40px {
        margin: 40px;
    }
    .lg-m-45px {
        margin: 45px;
    }
    .lg-m-50px {
        margin: 50px;
    }
    .lg-m-55px {
        margin: 55px;
    }
    .lg-m-60px {
        margin: 60px;
    }
    .lg-m-65px {
        margin: 65px;
    }
    .lg-m-70px {
        margin: 70px;
    }
    .lg-m-75px {
        margin: 75px;
    }
    .lg-m-80px {
        margin: 80px;
    }
    .lg-m-85px {
        margin: 85px;
    }
    .lg-m-90px {
        margin: 90px;
    }
    .lg-m-95px {
        margin: 95px;
    }
    .lg-m-100px {
        margin: 100px;
    }
    /*Margin top buttom*/
    .lg-m-0px-tb {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .lg-m-5px-tb {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .lg-m-10px-tb {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .lg-m-15px-tb {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .lg-m-20px-tb {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .lg-m-25px-tb {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .lg-m-30px-tb {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .lg-m-35px-tb {
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .lg-m-40px-tb {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .lg-m-45px-tb {
        margin-top: 45px;
        margin-bottom: 45px;
    }
    .lg-m-50px-tb {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .lg-m-55px-tb {
        margin-top: 55px;
        margin-bottom: 55px;
    }
    .lg-m-60px-tb {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .lg-m-65px-tb {
        margin-top: 65px;
        margin-bottom: 65px;
    }
    .lg-m-70px-tb {
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .lg-m-75px-tb {
        margin-top: 75px;
        margin-bottom: 75px;
    }
    .lg-m-80px-tb {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .lg-m-85px-tb {
        margin-top: 85px;
        margin-bottom: 85px;
    }
    .lg-m-90px-tb {
        margin-top: 90px;
        margin-bottom: 90px;
    }
    .lg-m-95px-tb {
        margin-top: 95px;
        margin-bottom: 95px;
    }
    .lg-m-100px-tb {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    /*Margin left right*/
    .lg-m-0px-lr {
        margin-left: 0px;
        margin-right: 0px;
    }
    .lg-m-5px-lr {
        margin-left: 5px;
        margin-right: 5px;
    }
    .lg-m-10px-lr {
        margin-left: 10px;
        margin-right: 10px;
    }
    .lg-m-15px-lr {
        margin-left: 15px;
        margin-right: 15px;
    }
    .lg-m-20px-lr {
        margin-left: 20px;
        margin-right: 20px;
    }
    .lg-m-25px-lr {
        margin-left: 25px;
        margin-right: 25px;
    }
    .lg-m-30px-lr {
        margin-left: 30px;
        margin-right: 30px;
    }
    .lg-m-35px-lr {
        margin-left: 35px;
        margin-right: 35px;
    }
    .lg-m-40px-lr {
        margin-left: 40px;
        margin-right: 40px;
    }
    .lg-m-45px-lr {
        margin-left: 45px;
        margin-right: 45px;
    }
    .lg-m-50px-lr {
        margin-left: 50px;
        margin-right: 50px;
    }
    .lg-m-55px-lr {
        margin-left: 55px;
        margin-right: 55px;
    }
    .lg-m-60px-lr {
        margin-left: 60px;
        margin-right: 60px;
    }
    .lg-m-65px-lr {
        margin-left: 65px;
        margin-right: 65px;
    }
    .lg-m-70px-lr {
        margin-left: 70px;
        margin-right: 70px;
    }
    .lg-m-75px-lr {
        margin-left: 75px;
        margin-right: 75px;
    }
    .lg-m-80px-lr {
        margin-left: 80px;
        margin-right: 80px;
    }
    .lg-m-85px-lr {
        margin-left: 85px;
        margin-right: 85px;
    }
    .lg-m-90px-lr {
        margin-left: 90px;
        margin-right: 90px;
    }
    .lg-m-95px-lr {
        margin-left: 95px;
        margin-right: 95px;
    }
    .lg-m-100px-lr {
        margin-left: 100px;
        margin-right: 100px;
    }
    /*Margin top*/
    .lg-m-0px-t {
        margin-top: 0px;
    }
    .lg-m-5px-t {
        margin-top: 5px;
    }
    .lg-m-10px-t {
        margin-top: 10px;
    }
    .lg-m-15px-t {
        margin-top: 15px;
    }
    .lg-m-20px-t {
        margin-top: 20px;
    }
    .lg-m-25px-t {
        margin-top: 25px;
    }
    .lg-m-30px-t {
        margin-top: 30px;
    }
    .lg-m-35px-t {
        margin-top: 35px;
    }
    .lg-m-40px-t {
        margin-top: 40px;
    }
    .lg-m-45px-t {
        margin-top: 45px;
    }
    .lg-m-50px-t {
        margin-top: 50px;
    }
    .lg-m-55px-t {
        margin-top: 55px;
    }
    .lg-m-60px-t {
        margin-top: 60px;
    }
    .lg-m-65px-t {
        margin-top: 65px;
    }
    .lg-m-70px-t {
        margin-top: 70px;
    }
    .lg-m-75px-t {
        margin-top: 75px;
    }
    .lg-m-80px-t {
        margin-top: 80px;
    }
    .lg-m-85px-t {
        margin-top: 85px;
    }
    .lg-m-90px-t {
        margin-top: 90px;
    }
    .lg-m-95px-t {
        margin-top: 95px;
    }
    .lg-m-100px-t {
        margin-top: 100px;
    }
    /*Margin Bottom*/
    .lg-m-0px-b {
        margin-bottom: 0px;
    }
    .lg-m-5px-b {
        margin-bottom: 5px;
    }
    .lg-m-10px-b {
        margin-bottom: 10px;
    }
    .lg-m-15px-b {
        margin-bottom: 15px;
    }
    .lg-m-20px-b {
        margin-bottom: 20px;
    }
    .lg-m-25px-b {
        margin-bottom: 25px;
    }
    .lg-m-30px-b {
        margin-bottom: 30px;
    }
    .lg-m-35px-b {
        margin-bottom: 35px;
    }
    .lg-m-40px-b {
        margin-bottom: 40px;
    }
    .lg-m-45px-b {
        margin-bottom: 45px;
    }
    .lg-m-50px-b {
        margin-bottom: 50px;
    }
    .lg-m-55px-b {
        margin-bottom: 55px;
    }
    .lg-m-60px-b {
        margin-bottom: 60px;
    }
    .lg-m-65px-b {
        margin-bottom: 65px;
    }
    .lg-m-70px-b {
        margin-bottom: 70px;
    }
    .lg-m-75px-b {
        margin-bottom: 75px;
    }
    .lg-m-80px-b {
        margin-bottom: 80px;
    }
    .lg-m-85px-b {
        margin-bottom: 85px;
    }
    .lg-m-90px-b {
        margin-bottom: 90px;
    }
    .lg-m-95px-b {
        margin-bottom: 95px;
    }
    .lg-m-100px-b {
        margin-bottom: 100px;
    }
    /*Margin Left*/
    .lg-m-0px-l {
        margin-left: 0px;
    }
    .lg-m-5px-l {
        margin-left: 5px;
    }
    .lg-m-10px-l {
        margin-left: 10px;
    }
    .lg-m-15px-l {
        margin-left: 15px;
    }
    .lg-m-20px-l {
        margin-left: 20px;
    }
    .lg-m-25px-l {
        margin-left: 25px;
    }
    .lg-m-30px-l {
        margin-left: 30px;
    }
    .lg-m-35px-l {
        margin-left: 35px;
    }
    .lg-m-40px-l {
        margin-left: 40px;
    }
    .lg-m-45px-l {
        margin-left: 45px;
    }
    .lg-m-50px-l {
        margin-left: 50px;
    }
    .lg-m-55px-l {
        margin-left: 55px;
    }
    .lg-m-60px-l {
        margin-left: 60px;
    }
    .lg-m-65px-l {
        margin-left: 65px;
    }
    .lg-m-70px-l {
        margin-left: 70px;
    }
    .lg-m-75px-l {
        margin-left: 75px;
    }
    .lg-m-80px-l {
        margin-left: 80px;
    }
    .lg-m-85px-l {
        margin-left: 85px;
    }
    .lg-m-90px-l {
        margin-left: 90px;
    }
    .lg-m-95px-l {
        margin-left: 95px;
    }
    .lg-m-100px-l {
        margin-left: 100px;
    }
    /*Margin right*/
    .lg-m-0px-r {
        margin-right: 0px;
    }
    .lg-m-5px-r {
        margin-right: 5px;
    }
    .lg-m-10px-r {
        margin-right: 10px;
    }
    .lg-m-15px-r {
        margin-right: 15px;
    }
    .lg-m-20px-r {
        margin-right: 20px;
    }
    .lg-m-25px-r {
        margin-right: 25px;
    }
    .lg-m-30px-r {
        margin-right: 30px;
    }
    .lg-m-35px-r {
        margin-right: 35px;
    }
    .lg-m-40px-r {
        margin-right: 40px;
    }
    .lg-m-45px-r {
        margin-right: 45px;
    }
    .lg-m-50px-r {
        margin-right: 50px;
    }
    .lg-m-55px-r {
        margin-right: 55px;
    }
    .lg-m-60px-r {
        margin-right: 60px;
    }
    .lg-m-65px-r {
        margin-right: 65px;
    }
    .lg-m-70px-r {
        margin-right: 70px;
    }
    .lg-m-75px-r {
        margin-right: 75px;
    }
    .lg-m-80px-r {
        margin-right: 80px;
    }
    .lg-m-85px-r {
        margin-right: 85px;
    }
    .lg-m-90px-r {
        margin-right: 90px;
    }
    .lg-m-95px-r {
        margin-right: 95px;
    }
    .lg-m-100px-r {
        margin-right: 100px;
    }
}
@media (max-width: 991px) {
    /*Margin All*/
    .md-m-0px {
        margin: 0;
    }
    .md-m-5px {
        margin: 5px;
    }
    .md-m-10px {
        margin: 10px;
    }
    .md-m-15px {
        margin: 15px;
    }
    .md-m-20px {
        margin: 20px;
    }
    .md-m-25px {
        margin: 25px;
    }
    .md-m-30px {
        margin: 30px;
    }
    .md-m-35px {
        margin: 35px;
    }
    .md-m-40px {
        margin: 40px;
    }
    .md-m-45px {
        margin: 45px;
    }
    .md-m-50px {
        margin: 50px;
    }
    .md-m-55px {
        margin: 55px;
    }
    .md-m-60px {
        margin: 60px;
    }
    .md-m-65px {
        margin: 65px;
    }
    .md-m-70px {
        margin: 70px;
    }
    .md-m-75px {
        margin: 75px;
    }
    .md-m-80px {
        margin: 80px;
    }
    .md-m-85px {
        margin: 85px;
    }
    .md-m-90px {
        margin: 90px;
    }
    .md-m-95px {
        margin: 95px;
    }
    .md-m-100px {
        margin: 100px;
    }
    /*Margin top buttom*/
    .md-m-0px-tb {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .md-m-5px-tb {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .md-m-10px-tb {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .md-m-15px-tb {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .md-m-20px-tb {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .md-m-25px-tb {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .md-m-30px-tb {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .md-m-35px-tb {
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .md-m-40px-tb {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .md-m-45px-tb {
        margin-top: 45px;
        margin-bottom: 45px;
    }
    .md-m-50px-tb {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .md-m-55px-tb {
        margin-top: 55px;
        margin-bottom: 55px;
    }
    .md-m-60px-tb {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .md-m-65px-tb {
        margin-top: 65px;
        margin-bottom: 65px;
    }
    .md-m-70px-tb {
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .md-m-75px-tb {
        margin-top: 75px;
        margin-bottom: 75px;
    }
    .md-m-80px-tb {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .md-m-85px-tb {
        margin-top: 85px;
        margin-bottom: 85px;
    }
    .md-m-90px-tb {
        margin-top: 90px;
        margin-bottom: 90px;
    }
    .md-m-95px-tb {
        margin-top: 95px;
        margin-bottom: 95px;
    }
    .md-m-100px-tb {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    /*Margin left right*/
    .md-m-0px-lr {
        margin-left: 0px;
        margin-right: 0px;
    }
    .md-m-5px-lr {
        margin-left: 5px;
        margin-right: 5px;
    }
    .md-m-10px-lr {
        margin-left: 10px;
        margin-right: 10px;
    }
    .md-m-15px-lr {
        margin-left: 15px;
        margin-right: 15px;
    }
    .md-m-20px-lr {
        margin-left: 20px;
        margin-right: 20px;
    }
    .md-m-25px-lr {
        margin-left: 25px;
        margin-right: 25px;
    }
    .md-m-30px-lr {
        margin-left: 30px;
        margin-right: 30px;
    }
    .md-m-35px-lr {
        margin-left: 35px;
        margin-right: 35px;
    }
    .md-m-40px-lr {
        margin-left: 40px;
        margin-right: 40px;
    }
    .md-m-45px-lr {
        margin-left: 45px;
        margin-right: 45px;
    }
    .md-m-50px-lr {
        margin-left: 50px;
        margin-right: 50px;
    }
    .md-m-55px-lr {
        margin-left: 55px;
        margin-right: 55px;
    }
    .md-m-60px-lr {
        margin-left: 60px;
        margin-right: 60px;
    }
    .md-m-65px-lr {
        margin-left: 65px;
        margin-right: 65px;
    }
    .md-m-70px-lr {
        margin-left: 70px;
        margin-right: 70px;
    }
    .md-m-75px-lr {
        margin-left: 75px;
        margin-right: 75px;
    }
    .md-m-80px-lr {
        margin-left: 80px;
        margin-right: 80px;
    }
    .md-m-85px-lr {
        margin-left: 85px;
        margin-right: 85px;
    }
    .md-m-90px-lr {
        margin-left: 90px;
        margin-right: 90px;
    }
    .md-m-95px-lr {
        margin-left: 95px;
        margin-right: 95px;
    }
    .md-m-100px-lr {
        margin-left: 100px;
        margin-right: 100px;
    }
    /*Margin top*/
    .md-m-0px-t {
        margin-top: 0px;
    }
    .md-m-5px-t {
        margin-top: 5px;
    }
    .md-m-10px-t {
        margin-top: 10px;
    }
    .md-m-15px-t {
        margin-top: 15px;
    }
    .md-m-20px-t {
        margin-top: 20px;
    }
    .md-m-25px-t {
        margin-top: 25px;
    }
    .md-m-30px-t {
        margin-top: 30px;
    }
    .md-m-35px-t {
        margin-top: 35px;
    }
    .md-m-40px-t {
        margin-top: 40px;
    }
    .md-m-45px-t {
        margin-top: 45px;
    }
    .md-m-50px-t {
        margin-top: 50px;
    }
    .md-m-55px-t {
        margin-top: 55px;
    }
    .md-m-60px-t {
        margin-top: 60px;
    }
    .md-m-65px-t {
        margin-top: 65px;
    }
    .md-m-70px-t {
        margin-top: 70px;
    }
    .md-m-75px-t {
        margin-top: 75px;
    }
    .md-m-80px-t {
        margin-top: 80px;
    }
    .md-m-85px-t {
        margin-top: 85px;
    }
    .md-m-90px-t {
        margin-top: 90px;
    }
    .md-m-95px-t {
        margin-top: 95px;
    }
    .md-m-100px-t {
        margin-top: 100px;
    }
    /*Margin Bottom*/
    .md-m-0px-b {
        margin-bottom: 0px;
    }
    .md-m-5px-b {
        margin-bottom: 5px;
    }
    .md-m-10px-b {
        margin-bottom: 10px;
    }
    .md-m-15px-b {
        margin-bottom: 15px;
    }
    .md-m-20px-b {
        margin-bottom: 20px;
    }
    .md-m-25px-b {
        margin-bottom: 25px;
    }
    .md-m-30px-b {
        margin-bottom: 30px;
    }
    .md-m-35px-b {
        margin-bottom: 35px;
    }
    .md-m-40px-b {
        margin-bottom: 40px;
    }
    .md-m-45px-b {
        margin-bottom: 45px;
    }
    .md-m-50px-b {
        margin-bottom: 50px;
    }
    .md-m-55px-b {
        margin-bottom: 55px;
    }
    .md-m-60px-b {
        margin-bottom: 60px;
    }
    .md-m-65px-b {
        margin-bottom: 65px;
    }
    .md-m-70px-b {
        margin-bottom: 70px;
    }
    .md-m-75px-b {
        margin-bottom: 75px;
    }
    .md-m-80px-b {
        margin-bottom: 80px;
    }
    .md-m-85px-b {
        margin-bottom: 85px;
    }
    .md-m-90px-b {
        margin-bottom: 90px;
    }
    .md-m-95px-b {
        margin-bottom: 95px;
    }
    .md-m-100px-b {
        margin-bottom: 100px;
    }
    /*Margin Left*/
    .md-m-0px-l {
        margin-left: 0px;
    }
    .md-m-5px-l {
        margin-left: 5px;
    }
    .md-m-10px-l {
        margin-left: 10px;
    }
    .md-m-15px-l {
        margin-left: 15px;
    }
    .md-m-20px-l {
        margin-left: 20px;
    }
    .md-m-25px-l {
        margin-left: 25px;
    }
    .md-m-30px-l {
        margin-left: 30px;
    }
    .md-m-35px-l {
        margin-left: 35px;
    }
    .md-m-40px-l {
        margin-left: 40px;
    }
    .md-m-45px-l {
        margin-left: 45px;
    }
    .md-m-50px-l {
        margin-left: 50px;
    }
    .md-m-55px-l {
        margin-left: 55px;
    }
    .md-m-60px-l {
        margin-left: 60px;
    }
    .md-m-65px-l {
        margin-left: 65px;
    }
    .md-m-70px-l {
        margin-left: 70px;
    }
    .md-m-75px-l {
        margin-left: 75px;
    }
    .md-m-80px-l {
        margin-left: 80px;
    }
    .md-m-85px-l {
        margin-left: 85px;
    }
    .md-m-90px-l {
        margin-left: 90px;
    }
    .md-m-95px-l {
        margin-left: 95px;
    }
    .md-m-100px-l {
        margin-left: 100px;
    }
    /*Margin right*/
    .md-m-0px-r {
        margin-right: 0px;
    }
    .md-m-5px-r {
        margin-right: 5px;
    }
    .md-m-10px-r {
        margin-right: 10px;
    }
    .md-m-15px-r {
        margin-right: 15px;
    }
    .md-m-20px-r {
        margin-right: 20px;
    }
    .md-m-25px-r {
        margin-right: 25px;
    }
    .md-m-30px-r {
        margin-right: 30px;
    }
    .md-m-35px-r {
        margin-right: 35px;
    }
    .md-m-40px-r {
        margin-right: 40px;
    }
    .md-m-45px-r {
        margin-right: 45px;
    }
    .md-m-50px-r {
        margin-right: 50px;
    }
    .md-m-55px-r {
        margin-right: 55px;
    }
    .md-m-60px-r {
        margin-right: 60px;
    }
    .md-m-65px-r {
        margin-right: 65px;
    }
    .md-m-70px-r {
        margin-right: 70px;
    }
    .md-m-75px-r {
        margin-right: 75px;
    }
    .md-m-80px-r {
        margin-right: 80px;
    }
    .md-m-85px-r {
        margin-right: 85px;
    }
    .md-m-90px-r {
        margin-right: 90px;
    }
    .md-m-95px-r {
        margin-right: 95px;
    }
    .md-m-100px-r {
        margin-right: 100px;
    }
}
@media (max-width: 767px) {
    /*Margin All*/
    .sm-m-0px {
        margin: 0;
    }
    .sm-m-5px {
        margin: 5px;
    }
    .sm-m-10px {
        margin: 10px;
    }
    .sm-m-15px {
        margin: 15px;
    }
    .sm-m-20px {
        margin: 20px;
    }
    .sm-m-25px {
        margin: 25px;
    }
    .sm-m-30px {
        margin: 30px;
    }
    .sm-m-35px {
        margin: 35px;
    }
    .sm-m-40px {
        margin: 40px;
    }
    .sm-m-45px {
        margin: 45px;
    }
    .sm-m-50px {
        margin: 50px;
    }
    .sm-m-55px {
        margin: 55px;
    }
    .sm-m-60px {
        margin: 60px;
    }
    .sm-m-65px {
        margin: 65px;
    }
    .sm-m-70px {
        margin: 70px;
    }
    .sm-m-75px {
        margin: 75px;
    }
    .sm-m-80px {
        margin: 80px;
    }
    .sm-m-85px {
        margin: 85px;
    }
    .sm-m-90px {
        margin: 90px;
    }
    .sm-m-95px {
        margin: 95px;
    }
    .sm-m-100px {
        margin: 100px;
    }
    /*Margin top buttom*/
    .sm-m-0px-tb {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .sm-m-5px-tb {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .sm-m-10px-tb {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .sm-m-15px-tb {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .sm-m-20px-tb {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .sm-m-25px-tb {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .sm-m-30px-tb {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .sm-m-35px-tb {
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .sm-m-40px-tb {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .sm-m-45px-tb {
        margin-top: 45px;
        margin-bottom: 45px;
    }
    .sm-m-50px-tb {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .sm-m-55px-tb {
        margin-top: 55px;
        margin-bottom: 55px;
    }
    .sm-m-60px-tb {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .sm-m-65px-tb {
        margin-top: 65px;
        margin-bottom: 65px;
    }
    .sm-m-70px-tb {
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .sm-m-75px-tb {
        margin-top: 75px;
        margin-bottom: 75px;
    }
    .sm-m-80px-tb {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .sm-m-85px-tb {
        margin-top: 85px;
        margin-bottom: 85px;
    }
    .sm-m-90px-tb {
        margin-top: 90px;
        margin-bottom: 90px;
    }
    .sm-m-95px-tb {
        margin-top: 95px;
        margin-bottom: 95px;
    }
    .sm-m-100px-tb {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    /*Margin left right*/
    .sm-m-0px-lr {
        margin-left: 0px;
        margin-right: 0px;
    }
    .sm-m-5px-lr {
        margin-left: 5px;
        margin-right: 5px;
    }
    .sm-m-10px-lr {
        margin-left: 10px;
        margin-right: 10px;
    }
    .sm-m-15px-lr {
        margin-left: 15px;
        margin-right: 15px;
    }
    .sm-m-20px-lr {
        margin-left: 20px;
        margin-right: 20px;
    }
    .sm-m-25px-lr {
        margin-left: 25px;
        margin-right: 25px;
    }
    .sm-m-30px-lr {
        margin-left: 30px;
        margin-right: 30px;
    }
    .sm-m-35px-lr {
        margin-left: 35px;
        margin-right: 35px;
    }
    .sm-m-40px-lr {
        margin-left: 40px;
        margin-right: 40px;
    }
    .sm-m-45px-lr {
        margin-left: 45px;
        margin-right: 45px;
    }
    .sm-m-50px-lr {
        margin-left: 50px;
        margin-right: 50px;
    }
    .sm-m-55px-lr {
        margin-left: 55px;
        margin-right: 55px;
    }
    .sm-m-60px-lr {
        margin-left: 60px;
        margin-right: 60px;
    }
    .sm-m-65px-lr {
        margin-left: 65px;
        margin-right: 65px;
    }
    .sm-m-70px-lr {
        margin-left: 70px;
        margin-right: 70px;
    }
    .sm-m-75px-lr {
        margin-left: 75px;
        margin-right: 75px;
    }
    .sm-m-80px-lr {
        margin-left: 80px;
        margin-right: 80px;
    }
    .sm-m-85px-lr {
        margin-left: 85px;
        margin-right: 85px;
    }
    .sm-m-90px-lr {
        margin-left: 90px;
        margin-right: 90px;
    }
    .sm-m-95px-lr {
        margin-left: 95px;
        margin-right: 95px;
    }
    .sm-m-100px-lr {
        margin-left: 100px;
        margin-right: 100px;
    }
    /*Margin top*/
    .sm-m-0px-t {
        margin-top: 0px;
    }
    .sm-m-5px-t {
        margin-top: 5px;
    }
    .sm-m-10px-t {
        margin-top: 10px;
    }
    .sm-m-15px-t {
        margin-top: 15px;
    }
    .sm-m-20px-t {
        margin-top: 20px;
    }
    .sm-m-25px-t {
        margin-top: 25px;
    }
    .sm-m-30px-t {
        margin-top: 30px;
    }
    .sm-m-35px-t {
        margin-top: 35px;
    }
    .sm-m-40px-t {
        margin-top: 40px;
    }
    .sm-m-45px-t {
        margin-top: 45px;
    }
    .sm-m-50px-t {
        margin-top: 50px;
    }
    .sm-m-55px-t {
        margin-top: 55px;
    }
    .sm-m-60px-t {
        margin-top: 60px;
    }
    .sm-m-65px-t {
        margin-top: 65px;
    }
    .sm-m-70px-t {
        margin-top: 70px;
    }
    .sm-m-75px-t {
        margin-top: 75px;
    }
    .sm-m-80px-t {
        margin-top: 80px;
    }
    .sm-m-85px-t {
        margin-top: 85px;
    }
    .sm-m-90px-t {
        margin-top: 90px;
    }
    .sm-m-95px-t {
        margin-top: 95px;
    }
    .sm-m-100px-t {
        margin-top: 100px;
    }
    /*Margin Bottom*/
    .sm-m-0px-b {
        margin-bottom: 0px;
    }
    .sm-m-5px-b {
        margin-bottom: 5px;
    }
    .sm-m-10px-b {
        margin-bottom: 10px;
    }
    .sm-m-15px-b {
        margin-bottom: 15px;
    }
    .sm-m-20px-b {
        margin-bottom: 20px;
    }
    .sm-m-25px-b {
        margin-bottom: 25px;
    }
    .sm-m-30px-b {
        margin-bottom: 30px;
    }
    .sm-m-35px-b {
        margin-bottom: 35px;
    }
    .sm-m-40px-b {
        margin-bottom: 40px;
    }
    .sm-m-45px-b {
        margin-bottom: 45px;
    }
    .sm-m-50px-b {
        margin-bottom: 50px;
    }
    .sm-m-55px-b {
        margin-bottom: 55px;
    }
    .sm-m-60px-b {
        margin-bottom: 60px;
    }
    .sm-m-65px-b {
        margin-bottom: 65px;
    }
    .sm-m-70px-b {
        margin-bottom: 70px;
    }
    .sm-m-75px-b {
        margin-bottom: 75px;
    }
    .sm-m-80px-b {
        margin-bottom: 80px;
    }
    .sm-m-85px-b {
        margin-bottom: 85px;
    }
    .sm-m-90px-b {
        margin-bottom: 90px;
    }
    .sm-m-95px-b {
        margin-bottom: 95px;
    }
    .sm-m-100px-b {
        margin-bottom: 100px;
    }
    /*Margin Left*/
    .sm-m-0px-l {
        margin-left: 0px;
    }
    .sm-m-5px-l {
        margin-left: 5px;
    }
    .sm-m-10px-l {
        margin-left: 10px;
    }
    .sm-m-15px-l {
        margin-left: 15px;
    }
    .sm-m-20px-l {
        margin-left: 20px;
    }
    .sm-m-25px-l {
        margin-left: 25px;
    }
    .sm-m-30px-l {
        margin-left: 30px;
    }
    .sm-m-35px-l {
        margin-left: 35px;
    }
    .sm-m-40px-l {
        margin-left: 40px;
    }
    .sm-m-45px-l {
        margin-left: 45px;
    }
    .sm-m-50px-l {
        margin-left: 50px;
    }
    .sm-m-55px-l {
        margin-left: 55px;
    }
    .sm-m-60px-l {
        margin-left: 60px;
    }
    .sm-m-65px-l {
        margin-left: 65px;
    }
    .sm-m-70px-l {
        margin-left: 70px;
    }
    .sm-m-75px-l {
        margin-left: 75px;
    }
    .sm-m-80px-l {
        margin-left: 80px;
    }
    .sm-m-85px-l {
        margin-left: 85px;
    }
    .sm-m-90px-l {
        margin-left: 90px;
    }
    .sm-m-95px-l {
        margin-left: 95px;
    }
    .sm-m-100px-l {
        margin-left: 100px;
    }
    /*Margin right*/
    .sm-m-0px-r {
        margin-right: 0px;
    }
    .sm-m-5px-r {
        margin-right: 5px;
    }
    .sm-m-10px-r {
        margin-right: 10px;
    }
    .sm-m-15px-r {
        margin-right: 15px;
    }
    .sm-m-20px-r {
        margin-right: 20px;
    }
    .sm-m-25px-r {
        margin-right: 25px;
    }
    .sm-m-30px-r {
        margin-right: 30px;
    }
    .sm-m-35px-r {
        margin-right: 35px;
    }
    .sm-m-40px-r {
        margin-right: 40px;
    }
    .sm-m-45px-r {
        margin-right: 45px;
    }
    .sm-m-50px-r {
        margin-right: 50px;
    }
    .sm-m-55px-r {
        margin-right: 55px;
    }
    .sm-m-60px-r {
        margin-right: 60px;
    }
    .sm-m-65px-r {
        margin-right: 65px;
    }
    .sm-m-70px-r {
        margin-right: 70px;
    }
    .sm-m-75px-r {
        margin-right: 75px;
    }
    .sm-m-80px-r {
        margin-right: 80px;
    }
    .sm-m-85px-r {
        margin-right: 85px;
    }
    .sm-m-90px-r {
        margin-right: 90px;
    }
    .sm-m-95px-r {
        margin-right: 95px;
    }
    .sm-m-100px-r {
        margin-right: 100px;
    }
}
/*==============================
  Padding
================================*/
/*Padding All*/
.p-0px {
    padding: 0;
}
.p-5px {
    padding: 5px;
}
.p-10px {
    padding: 10px;
}
.p-15px {
    padding: 15px;
}
.p-20px {
    padding: 20px;
}
.p-25px {
    padding: 25px;
}
.p-30px {
    padding: 30px;
}
.p-35px {
    padding: 35px;
}
.p-40px {
    padding: 40px;
}
.p-45px {
    padding: 45px;
}
.p-50px {
    padding: 50px;
}
.p-55px {
    padding: 55px;
}
.p-60px {
    padding: 60px;
}
.p-65px {
    padding: 65px;
}
.p-70px {
    padding: 70px;
}
.p-75px {
    padding: 75px;
}
.p-80px {
    padding: 80px;
}
.p-85px {
    padding: 85px;
}
.p-90px {
    padding: 90px;
}
.p-95px {
    padding: 95px;
}
.p-100px {
    padding: 100px;
}
/*Padding Left Right*/
.p-0px-lr {
    padding-left: 0;
    padding-right: 0;
}
.p-5px-lr {
    padding-left: 5px;
    padding-right: 5px;
}
.p-10px-lr {
    padding-left: 10px;
    padding-right: 10px;
}
.p-15px-lr {
    padding-left: 15px;
    padding-right: 15px;
}
.p-20px-lr {
    padding-left: 20px;
    padding-right: 20px;
}
.p-25px-lr {
    padding-left: 25px;
    padding-right: 25px;
}
.p-30px-lr {
    padding-left: 30px;
    padding-right: 30px;
}
.p-35px-lr {
    padding-left: 35px;
    padding-right: 35px;
}
.p-40px-lr {
    padding-left: 40px;
    padding-right: 40px;
}
.p-45px-lr {
    padding-left: 45px;
    padding-right: 45px;
}
.p-50px-lr {
    padding-left: 50px;
    padding-right: 50px;
}
.p-55px-lr {
    padding-left: 55px;
    padding-right: 55px;
}
.p-60px-lr {
    padding-left: 60px;
    padding-right: 60px;
}
.p-65px-lr {
    padding-left: 65px;
    padding-right: 65px;
}
.p-70px-lr {
    padding-left: 70px;
    padding-right: 70px;
}
.p-75px-lr {
    padding-left: 75px;
    padding-right: 75px;
}
.p-80px-lr {
    padding-left: 80px;
    padding-right: 80px;
}
.p-85px-lr {
    padding-left: 85px;
    padding-right: 85px;
}
.p-90px-lr {
    padding-left: 90px;
    padding-right: 90px;
}
.p-95px-lr {
    padding-left: 95px;
    padding-right: 95px;
}
.p-100px-lr {
    padding-left: 100px;
    padding-right: 100px;
}
/*Padding Top Bottm*/
.p-0px-tb {
    padding-top: 0;
    padding-bottom: 0;
}
.p-5px-tb {
    padding-top: 5px;
    padding-bottom: 5px;
}
.p-10px-tb {
    padding-top: 10px;
    padding-bottom: 10px;
}
.p-15px-tb {
    padding-top: 15px;
    padding-bottom: 15px;
}
.p-20px-tb {
    padding-top: 20px;
    padding-bottom: 20px;
}
.p-25px-tb {
    padding-top: 25px;
    padding-bottom: 25px;
}
.p-30px-tb {
    padding-top: 30px;
    padding-bottom: 30px;
}
.p-35px-tb {
    padding-top: 35px;
    padding-bottom: 35px;
}
.p-40px-tb {
    padding-top: 40px;
    padding-bottom: 40px;
}
.p-45px-tb {
    padding-top: 45px;
    padding-bottom: 45px;
}
.p-50px-tb {
    padding-top: 50px;
    padding-bottom: 50px;
}
.p-55px-tb {
    padding-top: 55px;
    padding-bottom: 55px;
}
.p-60px-tb {
    padding-top: 60px;
    padding-bottom: 60px;
}
.p-65px-tb {
    padding-top: 65px;
    padding-bottom: 65px;
}
.p-70px-tb {
    padding-top: 70px;
    padding-bottom: 70px;
}
.p-75px-tb {
    padding-top: 75px;
    padding-bottom: 75px;
}
.p-80px-tb {
    padding-top: 80px;
    padding-bottom: 80px;
}
.p-85px-tb {
    padding-top: 85px;
    padding-bottom: 85px;
}
.p-90px-tb {
    padding-top: 90px;
    padding-bottom: 90px;
}
.p-95px-tb {
    padding-top: 95px;
    padding-bottom: 95px;
}
.p-100px-tb {
    padding-top: 100px;
    padding-bottom: 100px;
}
/*Padding top*/
.p-0px-t {
    padding-top: 0px;
}
.p-5px-t {
    padding-top: 5px;
}
.p-10px-t {
    padding-top: 10px;
}
.p-15px-t {
    padding-top: 15px;
}
.p-20px-t {
    padding-top: 20px;
}
.p-25px-t {
    padding-top: 25px;
}
.p-30px-t {
    padding-top: 30px;
}
.p-35px-t {
    padding-top: 35px;
}
.p-40px-t {
    padding-top: 40px;
}
.p-45px-t {
    padding-top: 45px;
}
.p-50px-t {
    padding-top: 50px;
}
.p-55px-t {
    padding-top: 55px;
}
.p-60px-t {
    padding-top: 60px;
}
.p-65px-t {
    padding-top: 65px;
}
.p-70px-t {
    padding-top: 70px;
}
.p-75px-t {
    padding-top: 75px;
}
.p-80px-t {
    padding-top: 80px;
}
.p-85px-t {
    padding-top: 85px;
}
.p-90px-t {
    padding-top: 90px;
}
.p-95px-t {
    padding-top: 95px;
}
.p-100px-t {
    padding-top: 100px;
}
/*Padding Bottom*/
.p-0px-b {
    padding-bottom: 0px;
}
.p-5px-b {
    padding-bottom: 5px;
}
.p-10px-b {
    padding-bottom: 10px;
}
.p-15px-b {
    padding-bottom: 15px;
}
.p-20px-b {
    padding-bottom: 20px;
}
.p-25px-b {
    padding-bottom: 25px;
}
.p-30px-b {
    padding-bottom: 30px;
}
.p-35px-b {
    padding-bottom: 35px;
}
.p-40px-b {
    padding-bottom: 40px;
}
.p-45px-b {
    padding-bottom: 45px;
}
.p-50px-b {
    padding-bottom: 50px;
}
.p-55px-b {
    padding-bottom: 55px;
}
.p-60px-b {
    padding-bottom: 60px;
}
.p-65px-b {
    padding-bottom: 65px;
}
.p-70px-b {
    padding-bottom: 70px;
}
.p-75px-b {
    padding-bottom: 75px;
}
.p-80px-b {
    padding-bottom: 80px;
}
.p-85px-b {
    padding-bottom: 85px;
}
.p-90px-b {
    padding-bottom: 90px;
}
.p-95px-b {
    padding-bottom: 95px;
}
.p-100px-b {
    padding-bottom: 100px;
}
/*Padding Left*/
.p-0px-l {
    padding-left: 0px;
}
.p-5px-l {
    padding-left: 5px;
}
.p-10px-l {
    padding-left: 10px;
}
.p-15px-l {
    padding-left: 15px;
}
.p-20px-l {
    padding-left: 20px;
}
.p-25px-l {
    padding-left: 25px;
}
.p-30px-l {
    padding-left: 30px;
}
.p-35px-l {
    padding-left: 35px;
}
.p-40px-l {
    padding-left: 40px;
}
.p-45px-l {
    padding-left: 45px;
}
.p-50px-l {
    padding-left: 50px;
}
.p-55px-l {
    padding-left: 55px;
}
.p-60px-l {
    padding-left: 60px;
}
.p-65px-l {
    padding-left: 65px;
}
.p-70px-l {
    padding-left: 70px;
}
.p-75px-l {
    padding-left: 75px;
}
.p-80px-l {
    padding-left: 80px;
}
.p-85px-l {
    padding-left: 85px;
}
.p-90px-l {
    padding-left: 90px;
}
.p-95px-l {
    padding-left: 95px;
}
.p-100px-l {
    padding-left: 100px;
}
/*Padding right*/
.p-0px-r {
    padding-right: 0px;
}
.p-5px-r {
    padding-right: 5px;
}
.p-10px-r {
    padding-right: 10px;
}
.p-15px-r {
    padding-right: 15px;
}
.p-20px-r {
    padding-right: 20px;
}
.p-25px-r {
    padding-right: 25px;
}
.p-30px-r {
    padding-right: 30px;
}
.p-35px-r {
    padding-right: 35px;
}
.p-40px-r {
    padding-right: 40px;
}
.p-45px-r {
    padding-right: 45px;
}
.p-50px-r {
    padding-right: 50px;
}
.p-55px-r {
    padding-right: 55px;
}
.p-60px-r {
    padding-right: 60px;
}
.p-65px-r {
    padding-right: 65px;
}
.p-70px-r {
    padding-right: 70px;
}
.p-75px-r {
    padding-right: 75px;
}
.p-80px-r {
    padding-right: 80px;
}
.p-85px-r {
    padding-right: 85px;
}
.p-90px-r {
    padding-right: 90px;
}
.p-95px-r {
    padding-right: 95px;
}
.p-100px-r {
    padding-right: 100px;
}
@media (max-width: 1200px) {
    .lg-p-0px {
        padding: 0;
    }
    .lg-p-5px {
        padding: 5px;
    }
    .lg-p-10px {
        padding: 10px;
    }
    .lg-p-15px {
        padding: 15px;
    }
    .lg-p-20px {
        padding: 20px;
    }
    .lg-p-25px {
        padding: 25px;
    }
    .lg-p-30px {
        padding: 30px;
    }
    .lg-p-35px {
        padding: 35px;
    }
    .lg-p-40px {
        padding: 40px;
    }
    .lg-p-45px {
        padding: 45px;
    }
    .lg-p-50px {
        padding: 50px;
    }
    .lg-p-55px {
        padding: 55px;
    }
    .lg-p-60px {
        padding: 60px;
    }
    .lg-p-65px {
        padding: 65px;
    }
    .lg-p-70px {
        padding: 70px;
    }
    .lg-p-75px {
        padding: 75px;
    }
    .lg-p-80px {
        padding: 80px;
    }
    .lg-p-85px {
        padding: 85px;
    }
    .lg-p-90px {
        padding: 90px;
    }
    .lg-p-95px {
        padding: 95px;
    }
    .lg-p-100px {
        padding: 100px;
    }
    /*Padding Left Right*/
    .lg-p-0px-lr {
        padding-left: 0;
        padding-right: 0;
    }
    .lg-p-5px-lr {
        padding-left: 5px;
        padding-right: 5px;
    }
    .lg-p-10px-lr {
        padding-left: 10px;
        padding-right: 10px;
    }
    .lg-p-15px-lr {
        padding-left: 15px;
        padding-right: 15px;
    }
    .lg-p-20px-lr {
        padding-left: 20px;
        padding-right: 20px;
    }
    .lg-p-25px-lr {
        padding-left: 25px;
        padding-right: 25px;
    }
    .lg-p-30px-lr {
        padding-left: 30px;
        padding-right: 30px;
    }
    .lg-p-35px-lr {
        padding-left: 35px;
        padding-right: 35px;
    }
    .lg-p-40px-lr {
        padding-left: 40px;
        padding-right: 40px;
    }
    .lg-p-45px-lr {
        padding-left: 45px;
        padding-right: 45px;
    }
    .lg-p-50px-lr {
        padding-left: 50px;
        padding-right: 50px;
    }
    .lg-p-55px-lr {
        padding-left: 55px;
        padding-right: 55px;
    }
    .lg-p-60px-lr {
        padding-left: 60px;
        padding-right: 60px;
    }
    .lg-p-65px-lr {
        padding-left: 65px;
        padding-right: 65px;
    }
    .lg-p-70px-lr {
        padding-left: 70px;
        padding-right: 70px;
    }
    .lg-p-75px-lr {
        padding-left: 75px;
        padding-right: 75px;
    }
    .lg-p-80px-lr {
        padding-left: 80px;
        padding-right: 80px;
    }
    .lg-p-85px-lr {
        padding-left: 85px;
        padding-right: 85px;
    }
    .lg-p-90px-lr {
        padding-left: 90px;
        padding-right: 90px;
    }
    .lg-p-95px-lr {
        padding-left: 95px;
        padding-right: 95px;
    }
    .lg-p-100px-lr {
        padding-left: 100px;
        padding-right: 100px;
    }
    /*Padding Top Bottm*/
    .lg-p-0px-tb {
        padding-top: 0;
        padding-bottom: 0;
    }
    .lg-p-5px-tb {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .lg-p-10px-tb {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .lg-p-15px-tb {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .lg-p-20px-tb {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .lg-p-25px-tb {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .lg-p-30px-tb {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .lg-p-35px-tb {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .lg-p-40px-tb {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .lg-p-45px-tb {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .lg-p-50px-tb {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .lg-p-55px-tb {
        padding-top: 55px;
        padding-bottom: 55px;
    }
    .lg-p-60px-tb {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .lg-p-65px-tb {
        padding-top: 65px;
        padding-bottom: 65px;
    }
    .lg-p-70px-tb {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .lg-p-75px-tb {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    .lg-p-80px-tb {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .lg-p-85px-tb {
        padding-top: 85px;
        padding-bottom: 85px;
    }
    .lg-p-90px-tb {
        padding-top: 90px;
        padding-bottom: 90px;
    }
    .lg-p-95px-tb {
        padding-top: 95px;
        padding-bottom: 95px;
    }
    .lg-p-100px-tb {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    /*Padding top*/
    .lg-p-5px-0 {
        padding-top: 0px;
    }
    .lg-p-5px-t {
        padding-top: 5px;
    }
    .lg-p-10px-t {
        padding-top: 10px;
    }
    .lg-p-15px-t {
        padding-top: 15px;
    }
    .lg-p-20px-t {
        padding-top: 20px;
    }
    .lg-p-25px-t {
        padding-top: 25px;
    }
    .lg-p-30px-t {
        padding-top: 30px;
    }
    .lg-p-35px-t {
        padding-top: 35px;
    }
    .lg-p-40px-t {
        padding-top: 40px;
    }
    .lg-p-45px-t {
        padding-top: 45px;
    }
    .lg-p-50px-t {
        padding-top: 50px;
    }
    .lg-p-55px-t {
        padding-top: 55px;
    }
    .lg-p-60px-t {
        padding-top: 60px;
    }
    .lg-p-65px-t {
        padding-top: 65px;
    }
    .lg-p-70px-t {
        padding-top: 70px;
    }
    .lg-p-75px-t {
        padding-top: 75px;
    }
    .lg-p-80px-t {
        padding-top: 80px;
    }
    .lg-p-85px-t {
        padding-top: 85px;
    }
    .lg-p-90px-t {
        padding-top: 90px;
    }
    .lg-p-95px-t {
        padding-top: 95px;
    }
    .lg-p-100px-t {
        padding-top: 100px;
    }
    /*Padding Bottom*/
    .lg-p-0px-b {
        padding-bottom: 0px;
    }
    .lg-p-5px-b {
        padding-bottom: 5px;
    }
    .lg-p-10px-b {
        padding-bottom: 10px;
    }
    .lg-p-15px-b {
        padding-bottom: 15px;
    }
    .lg-p-20px-b {
        padding-bottom: 20px;
    }
    .lg-p-25px-b {
        padding-bottom: 25px;
    }
    .lg-p-30px-b {
        padding-bottom: 30px;
    }
    .lg-p-35px-b {
        padding-bottom: 35px;
    }
    .lg-p-40px-b {
        padding-bottom: 40px;
    }
    .lg-p-45px-b {
        padding-bottom: 45px;
    }
    .lg-p-50px-b {
        padding-bottom: 50px;
    }
    .lg-p-55px-b {
        padding-bottom: 55px;
    }
    .lg-p-60px-b {
        padding-bottom: 60px;
    }
    .lg-p-65px-b {
        padding-bottom: 65px;
    }
    .lg-p-70px-b {
        padding-bottom: 70px;
    }
    .lg-p-75px-b {
        padding-bottom: 75px;
    }
    .lg-p-80px-b {
        padding-bottom: 80px;
    }
    .lg-p-85px-b {
        padding-bottom: 85px;
    }
    .lg-p-90px-b {
        padding-bottom: 90px;
    }
    .lg-p-95px-b {
        padding-bottom: 95px;
    }
    .lg-p-100px-b {
        padding-bottom: 100px;
    }
    /*Padding Left*/
    .lg-p-0px-l {
        padding-left: 0px;
    }
    .lg-p-5px-l {
        padding-left: 5px;
    }
    .lg-p-10px-l {
        padding-left: 10px;
    }
    .lg-p-15px-l {
        padding-left: 15px;
    }
    .lg-p-20px-l {
        padding-left: 20px;
    }
    .lg-p-25px-l {
        padding-left: 25px;
    }
    .lg-p-30px-l {
        padding-left: 30px;
    }
    .lg-p-35px-l {
        padding-left: 35px;
    }
    .lg-p-40px-l {
        padding-left: 40px;
    }
    .lg-p-45px-l {
        padding-left: 45px;
    }
    .lg-p-50px-l {
        padding-left: 50px;
    }
    .lg-p-55px-l {
        padding-left: 55px;
    }
    .lg-p-60px-l {
        padding-left: 60px;
    }
    .lg-p-65px-l {
        padding-left: 65px;
    }
    .lg-p-70px-l {
        padding-left: 70px;
    }
    .lg-p-75px-l {
        padding-left: 75px;
    }
    .lg-p-80px-l {
        padding-left: 80px;
    }
    .lg-p-85px-l {
        padding-left: 85px;
    }
    .lg-p-90px-l {
        padding-left: 90px;
    }
    .lg-p-95px-l {
        padding-left: 95px;
    }
    .lg-p-100px-l {
        padding-left: 100px;
    }
    /*Padding right*/
    .lg-p-0px-r {
        padding-left: 0px;
    }
    .lg-p-5px-r {
        padding-left: 5px;
    }
    .lg-p-10px-r {
        padding-left: 10px;
    }
    .lg-p-15px-r {
        padding-left: 15px;
    }
    .lg-p-20px-r {
        padding-left: 20px;
    }
    .lg-p-25px-r {
        padding-left: 25px;
    }
    .lg-p-30px-r {
        padding-left: 30px;
    }
    .lg-p-35px-r {
        padding-left: 35px;
    }
    .lg-p-40px-r {
        padding-left: 40px;
    }
    .lg-p-45px-r {
        padding-left: 45px;
    }
    .lg-p-50px-r {
        padding-left: 50px;
    }
    .lg-p-55px-r {
        padding-left: 55px;
    }
    .lg-p-60px-r {
        padding-left: 60px;
    }
    .lg-p-65px-r {
        padding-left: 65px;
    }
    .lg-p-70px-r {
        padding-left: 70px;
    }
    .lg-p-75px-r {
        padding-left: 75px;
    }
    .lg-p-80px-r {
        padding-left: 80px;
    }
    .lg-p-85px-r {
        padding-left: 85px;
    }
    .lg-p-90px-r {
        padding-left: 90px;
    }
    .lg-p-95px-r {
        padding-left: 95px;
    }
    .lg-p-100px-r {
        padding-left: 100px;
    }
}
@media (max-width: 991px) {
    .md-p-0px {
        padding: 0;
    }
    .md-p-5px {
        padding: 5px;
    }
    .md-p-10px {
        padding: 10px;
    }
    .md-p-15px {
        padding: 15px;
    }
    .md-p-20px {
        padding: 20px;
    }
    .md-p-25px {
        padding: 25px;
    }
    .md-p-30px {
        padding: 30px;
    }
    .md-p-35px {
        padding: 35px;
    }
    .md-p-40px {
        padding: 40px;
    }
    .md-p-45px {
        padding: 45px;
    }
    .md-p-50px {
        padding: 50px;
    }
    .md-p-55px {
        padding: 55px;
    }
    .md-p-60px {
        padding: 60px;
    }
    .md-p-65px {
        padding: 65px;
    }
    .md-p-70px {
        padding: 70px;
    }
    .md-p-75px {
        padding: 75px;
    }
    .md-p-80px {
        padding: 80px;
    }
    .md-p-85px {
        padding: 85px;
    }
    .md-p-90px {
        padding: 90px;
    }
    .md-p-95px {
        padding: 95px;
    }
    .md-p-100px {
        padding: 100px;
    }
    /*Padding Left Right*/
    .md-p-0px-lr {
        padding-left: 0;
        padding-right: 0;
    }
    .md-p-5px-lr {
        padding-left: 5px;
        padding-right: 5px;
    }
    .md-p-10px-lr {
        padding-left: 10px;
        padding-right: 10px;
    }
    .md-p-15px-lr {
        padding-left: 15px;
        padding-right: 15px;
    }
    .md-p-20px-lr {
        padding-left: 20px;
        padding-right: 20px;
    }
    .md-p-25px-lr {
        padding-left: 25px;
        padding-right: 25px;
    }
    .md-p-30px-lr {
        padding-left: 30px;
        padding-right: 30px;
    }
    .md-p-35px-lr {
        padding-left: 35px;
        padding-right: 35px;
    }
    .md-p-40px-lr {
        padding-left: 40px;
        padding-right: 40px;
    }
    .md-p-45px-lr {
        padding-left: 45px;
        padding-right: 45px;
    }
    .md-p-50px-lr {
        padding-left: 50px;
        padding-right: 50px;
    }
    .md-p-55px-lr {
        padding-left: 55px;
        padding-right: 55px;
    }
    .md-p-60px-lr {
        padding-left: 60px;
        padding-right: 60px;
    }
    .md-p-65px-lr {
        padding-left: 65px;
        padding-right: 65px;
    }
    .md-p-70px-lr {
        padding-left: 70px;
        padding-right: 70px;
    }
    .md-p-75px-lr {
        padding-left: 75px;
        padding-right: 75px;
    }
    .md-p-80px-lr {
        padding-left: 80px;
        padding-right: 80px;
    }
    .md-p-85px-lr {
        padding-left: 85px;
        padding-right: 85px;
    }
    .md-p-90px-lr {
        padding-left: 90px;
        padding-right: 90px;
    }
    .md-p-95px-lr {
        padding-left: 95px;
        padding-right: 95px;
    }
    .md-p-100px-lr {
        padding-left: 100px;
        padding-right: 100px;
    }
    /*Padding Top Bottm*/
    .md-p-0px-tb {
        padding-top: 0;
        padding-bottom: 0;
    }
    .md-p-5px-tb {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .md-p-10px-tb {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .md-p-15px-tb {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .md-p-20px-tb {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .md-p-25px-tb {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .md-p-30px-tb {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .md-p-35px-tb {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .md-p-40px-tb {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .md-p-45px-tb {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .md-p-50px-tb {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .md-p-55px-tb {
        padding-top: 55px;
        padding-bottom: 55px;
    }
    .md-p-60px-tb {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .md-p-65px-tb {
        padding-top: 65px;
        padding-bottom: 65px;
    }
    .md-p-70px-tb {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .md-p-75px-tb {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    .md-p-80px-tb {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .md-p-85px-tb {
        padding-top: 85px;
        padding-bottom: 85px;
    }
    .md-p-90px-tb {
        padding-top: 90px;
        padding-bottom: 90px;
    }
    .md-p-95px-tb {
        padding-top: 95px;
        padding-bottom: 95px;
    }
    .md-p-100px-tb {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    /*Padding top*/
    .md-p-0px-t {
        padding-top: 0px;
    }
    .md-p-5px-t {
        padding-top: 5px;
    }
    .md-p-10px-t {
        padding-top: 10px;
    }
    .md-p-15px-t {
        padding-top: 15px;
    }
    .md-p-20px-t {
        padding-top: 20px;
    }
    .md-p-25px-t {
        padding-top: 25px;
    }
    .md-p-30px-t {
        padding-top: 30px;
    }
    .md-p-35px-t {
        padding-top: 35px;
    }
    .md-p-40px-t {
        padding-top: 40px;
    }
    .md-p-45px-t {
        padding-top: 45px;
    }
    .md-p-50px-t {
        padding-top: 50px;
    }
    .md-p-55px-t {
        padding-top: 55px;
    }
    .md-p-60px-t {
        padding-top: 60px;
    }
    .md-p-65px-t {
        padding-top: 65px;
    }
    .md-p-70px-t {
        padding-top: 70px;
    }
    .md-p-75px-t {
        padding-top: 75px;
    }
    .md-p-80px-t {
        padding-top: 80px;
    }
    .md-p-85px-t {
        padding-top: 85px;
    }
    .md-p-90px-t {
        padding-top: 90px;
    }
    .md-p-95px-t {
        padding-top: 95px;
    }
    .md-p-100px-t {
        padding-top: 100px;
    }
    /*Padding Bottom*/
    .md-p-0px-b {
        padding-bottom: 0px;
    }
    .md-p-5px-b {
        padding-bottom: 5px;
    }
    .md-p-10px-b {
        padding-bottom: 10px;
    }
    .md-p-15px-b {
        padding-bottom: 15px;
    }
    .md-p-20px-b {
        padding-bottom: 20px;
    }
    .md-p-25px-b {
        padding-bottom: 25px;
    }
    .md-p-30px-b {
        padding-bottom: 30px;
    }
    .md-p-35px-b {
        padding-bottom: 35px;
    }
    .md-p-40px-b {
        padding-bottom: 40px;
    }
    .md-p-45px-b {
        padding-bottom: 45px;
    }
    .md-p-50px-b {
        padding-bottom: 50px;
    }
    .md-p-55px-b {
        padding-bottom: 55px;
    }
    .md-p-60px-b {
        padding-bottom: 60px;
    }
    .md-p-65px-b {
        padding-bottom: 65px;
    }
    .md-p-70px-b {
        padding-bottom: 70px;
    }
    .md-p-75px-b {
        padding-bottom: 75px;
    }
    .md-p-80px-b {
        padding-bottom: 80px;
    }
    .md-p-85px-b {
        padding-bottom: 85px;
    }
    .md-p-90px-b {
        padding-bottom: 90px;
    }
    .md-p-95px-b {
        padding-bottom: 95px;
    }
    .md-p-100px-b {
        padding-bottom: 100px;
    }
    /*Padding Left*/
    .md-p-0px-l {
        padding-left: 0px;
    }
    .md-p-5px-l {
        padding-left: 5px;
    }
    .md-p-10px-l {
        padding-left: 10px;
    }
    .md-p-15px-l {
        padding-left: 15px;
    }
    .md-p-20px-l {
        padding-left: 20px;
    }
    .md-p-25px-l {
        padding-left: 25px;
    }
    .md-p-30px-l {
        padding-left: 30px;
    }
    .md-p-35px-l {
        padding-left: 35px;
    }
    .md-p-40px-l {
        padding-left: 40px;
    }
    .md-p-45px-l {
        padding-left: 45px;
    }
    .md-p-50px-l {
        padding-left: 50px;
    }
    .md-p-55px-l {
        padding-left: 55px;
    }
    .md-p-60px-l {
        padding-left: 60px;
    }
    .md-p-65px-l {
        padding-left: 65px;
    }
    .md-p-70px-l {
        padding-left: 70px;
    }
    .md-p-75px-l {
        padding-left: 75px;
    }
    .md-p-80px-l {
        padding-left: 80px;
    }
    .md-p-85px-l {
        padding-left: 85px;
    }
    .md-p-90px-l {
        padding-left: 90px;
    }
    .md-p-95px-l {
        padding-left: 95px;
    }
    .md-p-100px-l {
        padding-left: 100px;
    }
    /*Padding right*/
    .md-p-0px-r {
        padding-right: 0px;
    }
    .md-p-5px-r {
        padding-right: 5px;
    }
    .md-p-10px-r {
        padding-right: 10px;
    }
    .md-p-15px-r {
        padding-right: 15px;
    }
    .md-p-20px-r {
        padding-right: 20px;
    }
    .md-p-25px-r {
        padding-right: 25px;
    }
    .md-p-30px-r {
        padding-right: 30px;
    }
    .md-p-35px-r {
        padding-right: 35px;
    }
    .md-p-40px-r {
        padding-right: 40px;
    }
    .md-p-45px-r {
        padding-right: 45px;
    }
    .md-p-50px-r {
        padding-right: 50px;
    }
    .md-p-55px-r {
        padding-right: 55px;
    }
    .md-p-60px-r {
        padding-right: 60px;
    }
    .md-p-65px-r {
        padding-right: 65px;
    }
    .md-p-70px-r {
        padding-right: 70px;
    }
    .md-p-75px-r {
        padding-right: 75px;
    }
    .md-p-80px-r {
        padding-right: 80px;
    }
    .md-p-85px-r {
        padding-right: 85px;
    }
    .md-p-90px-r {
        padding-right: 90px;
    }
    .md-p-95px-r {
        padding-right: 95px;
    }
    .md-p-100px-r {
        padding-right: 100px;
    }
}
@media (max-width: 767px) {
    .sm-p-0px {
        padding: 0;
    }
    .sm-p-5px {
        padding: 5px;
    }
    .sm-p-10px {
        padding: 10px;
    }
    .sm-p-15px {
        padding: 15px;
    }
    .sm-p-20px {
        padding: 20px;
    }
    .sm-p-25px {
        padding: 25px;
    }
    .sm-p-30px {
        padding: 30px;
    }
    .sm-p-35px {
        padding: 35px;
    }
    .sm-p-40px {
        padding: 40px;
    }
    .sm-p-45px {
        padding: 45px;
    }
    .sm-p-50px {
        padding: 50px;
    }
    .sm-p-55px {
        padding: 55px;
    }
    .sm-p-60px {
        padding: 60px;
    }
    .sm-p-65px {
        padding: 65px;
    }
    .sm-p-70px {
        padding: 70px;
    }
    .sm-p-75px {
        padding: 75px;
    }
    .sm-p-80px {
        padding: 80px;
    }
    .sm-p-85px {
        padding: 85px;
    }
    .sm-p-90px {
        padding: 90px;
    }
    .sm-p-95px {
        padding: 95px;
    }
    .sm-p-100px {
        padding: 100px;
    }
    /*Padding Left Right*/
    .sm-p-0px-lr {
        padding-left: 0;
        padding-right: 0;
    }
    .sm-p-5px-lr {
        padding-left: 5px;
        padding-right: 5px;
    }
    .sm-p-10px-lr {
        padding-left: 10px;
        padding-right: 10px;
    }
    .sm-p-15px-lr {
        padding-left: 15px;
        padding-right: 15px;
    }
    .sm-p-20px-lr {
        padding-left: 20px;
        padding-right: 20px;
    }
    .sm-p-25px-lr {
        padding-left: 25px;
        padding-right: 25px;
    }
    .sm-p-30px-lr {
        padding-left: 30px;
        padding-right: 30px;
    }
    .sm-p-35px-lr {
        padding-left: 35px;
        padding-right: 35px;
    }
    .sm-p-40px-lr {
        padding-left: 40px;
        padding-right: 40px;
    }
    .sm-p-45px-lr {
        padding-left: 45px;
        padding-right: 45px;
    }
    .sm-p-50px-lr {
        padding-left: 50px;
        padding-right: 50px;
    }
    .sm-p-55px-lr {
        padding-left: 55px;
        padding-right: 55px;
    }
    .sm-p-60px-lr {
        padding-left: 60px;
        padding-right: 60px;
    }
    .sm-p-65px-lr {
        padding-left: 65px;
        padding-right: 65px;
    }
    .sm-p-70px-lr {
        padding-left: 70px;
        padding-right: 70px;
    }
    .sm-p-75px-lr {
        padding-left: 75px;
        padding-right: 75px;
    }
    .sm-p-80px-lr {
        padding-left: 80px;
        padding-right: 80px;
    }
    .sm-p-85px-lr {
        padding-left: 85px;
        padding-right: 85px;
    }
    .sm-p-90px-lr {
        padding-left: 90px;
        padding-right: 90px;
    }
    .sm-p-95px-lr {
        padding-left: 95px;
        padding-right: 95px;
    }
    .sm-p-100px-lr {
        padding-left: 100px;
        padding-right: 100px;
    }
    /*Padding Top Bottm*/
    .sm-p-0px-tb {
        padding-top: 0;
        padding-bottom: 0;
    }
    .sm-p-5px-tb {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .sm-p-10px-tb {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .sm-p-15px-tb {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .sm-p-20px-tb {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .sm-p-25px-tb {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .sm-p-30px-tb {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .sm-p-35px-tb {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .sm-p-40px-tb {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .sm-p-45px-tb {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .sm-p-50px-tb {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .sm-p-55px-tb {
        padding-top: 55px;
        padding-bottom: 55px;
    }
    .sm-p-60px-tb {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .sm-p-65px-tb {
        padding-top: 65px;
        padding-bottom: 65px;
    }
    .sm-p-70px-tb {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .sm-p-75px-tb {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    .sm-p-80px-tb {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .sm-p-85px-tb {
        padding-top: 85px;
        padding-bottom: 85px;
    }
    .sm-p-90px-tb {
        padding-top: 90px;
        padding-bottom: 90px;
    }
    .sm-p-95px-tb {
        padding-top: 95px;
        padding-bottom: 95px;
    }
    .sm-p-100px-tb {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    /*Padding top*/
    .sm-p-0px-t {
        padding-top: 0px;
    }
    .sm-p-5px-t {
        padding-top: 5px;
    }
    .sm-p-10px-t {
        padding-top: 10px;
    }
    .sm-p-15px-t {
        padding-top: 15px;
    }
    .sm-p-20px-t {
        padding-top: 20px;
    }
    .sm-p-25px-t {
        padding-top: 25px;
    }
    .sm-p-30px-t {
        padding-top: 30px;
    }
    .sm-p-35px-t {
        padding-top: 35px;
    }
    .sm-p-40px-t {
        padding-top: 40px;
    }
    .sm-p-45px-t {
        padding-top: 45px;
    }
    .sm-p-50px-t {
        padding-top: 50px;
    }
    .sm-p-55px-t {
        padding-top: 55px;
    }
    .sm-p-60px-t {
        padding-top: 60px;
    }
    .sm-p-65px-t {
        padding-top: 65px;
    }
    .sm-p-70px-t {
        padding-top: 70px;
    }
    .sm-p-75px-t {
        padding-top: 75px;
    }
    .sm-p-80px-t {
        padding-top: 80px;
    }
    .sm-p-85px-t {
        padding-top: 85px;
    }
    .sm-p-90px-t {
        padding-top: 90px;
    }
    .sm-p-95px-t {
        padding-top: 95px;
    }
    .sm-p-100px-t {
        padding-top: 100px;
    }
    /*Padding Bottom*/
    .sm-p-0px-b {
        padding-bottom: 0px;
    }
    .sm-p-5px-b {
        padding-bottom: 5px;
    }
    .sm-p-10px-b {
        padding-bottom: 10px;
    }
    .sm-p-15px-b {
        padding-bottom: 15px;
    }
    .sm-p-20px-b {
        padding-bottom: 20px;
    }
    .sm-p-25px-b {
        padding-bottom: 25px;
    }
    .sm-p-30px-b {
        padding-bottom: 30px;
    }
    .sm-p-35px-b {
        padding-bottom: 35px;
    }
    .sm-p-40px-b {
        padding-bottom: 40px;
    }
    .sm-p-45px-b {
        padding-bottom: 45px;
    }
    .sm-p-50px-b {
        padding-bottom: 50px;
    }
    .sm-p-55px-b {
        padding-bottom: 55px;
    }
    .sm-p-60px-b {
        padding-bottom: 60px;
    }
    .sm-p-65px-b {
        padding-bottom: 65px;
    }
    .sm-p-70px-b {
        padding-bottom: 70px;
    }
    .sm-p-75px-b {
        padding-bottom: 75px;
    }
    .sm-p-80px-b {
        padding-bottom: 80px;
    }
    .sm-p-85px-b {
        padding-bottom: 85px;
    }
    .sm-p-90px-b {
        padding-bottom: 90px;
    }
    .sm-p-95px-b {
        padding-bottom: 95px;
    }
    .sm-p-100px-b {
        padding-bottom: 100px;
    }
    /*Padding Left*/
    .sm-p-0px-l {
        padding-left: 0px;
    }
    .sm-p-5px-l {
        padding-left: 5px;
    }
    .sm-p-10px-l {
        padding-left: 10px;
    }
    .sm-p-15px-l {
        padding-left: 15px;
    }
    .sm-p-20px-l {
        padding-left: 20px;
    }
    .sm-p-25px-l {
        padding-left: 25px;
    }
    .sm-p-30px-l {
        padding-left: 30px;
    }
    .sm-p-35px-l {
        padding-left: 35px;
    }
    .sm-p-40px-l {
        padding-left: 40px;
    }
    .sm-p-45px-l {
        padding-left: 45px;
    }
    .sm-p-50px-l {
        padding-left: 50px;
    }
    .sm-p-55px-l {
        padding-left: 55px;
    }
    .sm-p-60px-l {
        padding-left: 60px;
    }
    .sm-p-65px-l {
        padding-left: 65px;
    }
    .sm-p-70px-l {
        padding-left: 70px;
    }
    .sm-p-75px-l {
        padding-left: 75px;
    }
    .sm-p-80px-l {
        padding-left: 80px;
    }
    .sm-p-85px-l {
        padding-left: 85px;
    }
    .sm-p-90px-l {
        padding-left: 90px;
    }
    .sm-p-95px-l {
        padding-left: 95px;
    }
    .sm-p-100px-l {
        padding-left: 100px;
    }
    /*Padding right*/
    .sm-p-0px-r {
        padding-right: 0px;
    }
    .sm-p-5px-r {
        padding-right: 5px;
    }
    .sm-p-10px-r {
        padding-right: 10px;
    }
    .sm-p-15px-r {
        padding-right: 15px;
    }
    .sm-p-20px-r {
        padding-right: 20px;
    }
    .sm-p-25px-r {
        padding-right: 25px;
    }
    .sm-p-30px-r {
        padding-right: 30px;
    }
    .sm-p-35px-r {
        padding-right: 35px;
    }
    .sm-p-40px-r {
        padding-right: 40px;
    }
    .sm-p-45px-r {
        padding-right: 45px;
    }
    .sm-p-50px-r {
        padding-right: 50px;
    }
    .sm-p-55px-r {
        padding-right: 55px;
    }
    .sm-p-60px-r {
        padding-right: 60px;
    }
    .sm-p-65px-r {
        padding-right: 65px;
    }
    .sm-p-70px-r {
        padding-right: 70px;
    }
    .sm-p-75px-r {
        padding-right: 75px;
    }
    .sm-p-80px-r {
        padding-right: 80px;
    }
    .sm-p-85px-r {
        padding-right: 85px;
    }
    .sm-p-90px-r {
        padding-right: 90px;
    }
    .sm-p-95px-r {
        padding-right: 95px;
    }
    .sm-p-100px-r {
        padding-right: 100px;
    }
}