footer.footer
    .footer-section
        .container
            .row
                .col-lg-4.m-15px-tb.col-md-6
                    .footer-content
                        .footer-logo Cropar1
                        .footer-text
                            p
                                | Lorem ipsum lobors praesent auctor quis euismod torquent perneque modo class malesuada cubilia srisque phretra fring vesbulum phaseus
                        ul.social-icons
                            li
                                a(href='#')
                                    i.fab.fa-facebook-f
                            li
                                a(href='#')
                                    i.fab.fa-twitter
                            li
                                a(href='#')
                                    i.fab.fa-instagram
                            li
                                a(href='#')
                                    i.fab.fa-codepen
                            li
                                a(href='#')
                                    i.fab.fa-github-alt
                            li
                                a(href='#')
                                    i.fab.fa-skype
                // col
                .col-lg-2.m-15px-tb.col-md-6
                    .footer-content
                        .footer-title.font-alt Resources
                        ul
                            li
                                a(href='#') Blog
                            li
                                a(href='#') Help center
                            li
                                a(href='#') Community
                            li
                                a(href='#') Marketplace
                            li
                                a(href='#') Career
                // col
                .col-lg-2.m-15px-tb.col-md-6
                    .footer-content
                        .footer-title.font-alt Important Links
                        ul
                            li
                                a(href='#') Pricing
                            li
                                a(href='#') Contact
                            li
                                a(href='#') Forum
                            li
                                a(href='#') Live Chat
                            li
                                a(href='#') Integration
                // col
                .col-lg-4.m-15px-tb.col-md-6
                    .footer-newsletter
                        .footer-title.font-alt Subscription
                        p Subscribe us to get latest update
                        form.newsletter-form
                            .form-group
                                input.form-control(type='email', placeholder='Enter Email')
                        .m-btn-bar
                            a.m-btn.m-btn-theme(href='#') Subscribe
                // col
                // row
                // container
    .fot-copyright
        p Copyright (c) 2018 - Cropar
