// FOR DEV
input#showfordev(type="checkbox", name="").d-none
.for-dev
    .title-page For DEV
    .des-page List url preview page
    label(for="showfordev").btn-settings
    ul.nav  
        li: a(href="about.html") About