header.header
    .top-bar.theme-bg
        .container
            .row.align-items-center
                .col-12.col-md-8.text-center.text-md-left
                    .mail support@domain.com | Phone: +01 000 000 0000
                .col-12.col-md-4.text-center.text-md-right
                    .social-icons-light
                        a(href='#')
                            i.fab.fa-facebook-f
                        a(href='#')
                            i.fab.fa-twitter
                        a(href='#')
                            i.fab.fa-google-plus-g
                        a(href='#')
                            i.fab.fa-linkedin-in
            // row
            // container
    nav.navbar.header-nav.navbar-expand-lg
        .container
            // Brand
            a.navbar-brand(href='index.html')
                | Cropar
                span.theme-bg
            // /
            // Mobile Toggle
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCropar', aria-controls='navbarCropar', aria-expanded='false', aria-label='Toggle navigation')
                span
                span
                span
            // /
            // Top Menu
            #navbarCropar.collapse.navbar-collapse.justify-content-end
                ul.navbar-nav.align-items-start.align-items-lg-center
                    li
                        a.nav-link(class=active=="home"? "active": "" , href='index.html') ABAB121
                    li
                        a.nav-link(class=active=="about"? "active": "" , href='about.html') About Us
                    li
                        a.nav-link(class=active=="services"? "active": "" , href='services.html') Services
                    li
                        a.nav-link(class=active=="our-team"? "active": "" , href='team.html') Our Team
                    li
                        a.nav-link(class=active=="contact"? "active": "" , href='contact.html') Contact
                    li
                        a.nav-link.nav-link-btn.m-btn.m-btn-theme(href='#') Get A Quote
            // /
            // Container
            // Navbar

