mixin fordev(active)

    // FOR DEV
    input#showfordev(type="checkbox", name="").d-none
    .for-dev
        .title-page For DEV
        .des-page List url preview page
        label(for="showfordev").btn-settings
        ul.nav  
            li: a(href="product-archive.html") Shop
            li: a(href="about.html") About
            li: a(href="blog-single.html") Blog Single
            li: a(href="checkout.html") Checkout
            li: a(href="myaccount-profile.html"): del My Account
            li: a(href="science-of-sensori.html") Science Of Sensori
            li: a(href="stockist.html") Stockist
            li: a(href="payment-success.html") Payment Success
            li: a(href="#") Others