mixin header(active)

    // HEADER PAGE 
    header.header-page
        .container
            .logo
                a(href="#")
                    img(src="upload/favicon.png", alt="" height="30")
            ul.menu-top
                li(class=active=="home" ? "active" : "")
                    a(href="#") Homepage
