block defaults
    - title = "Welcome"
    - projectname = "Core FE"
    
block settings

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        // Favicon
        link(rel="shortcut icon", href="upload/favicon.ico", type="image/x-icon")
        link(rel="apple-touch-icon", href="upload/favicon.png")

        // CSS
        link(rel="stylesheet", href="src/scss/plugins.css")
        link(rel="stylesheet", href="src/scss/style.css")

        // Title
        title #{title} - #{projectname}
    body
        
        script sessionStorage.getItem("isFirstRun") || document.write('<div id="preloader"><div class="loading"></div></div>')
        // Loading
        #loading
            .load-circle
                span.one
        include _header

        // WRAP PAGE
        main: block content

        include _fordev
        include _footer


        script.
            window.jQuery || document.write('<script src="src/js/jquery.js"><\/script>')
        script(src="src/js/plugins.min.js")
        script(src="src/js/pages.min.js")
